Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

add cspell eslint plugin
  .eslintrc.js
  .github/workflows/CI.yml
  .lintstagedrc.json
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

increase font size
  libs/design/TextInput/useReadonlyInputStyles.ts
  libs/design/theme/theme.ts
Due: none

change pnpm dlx to pnpm exec
  .github/workflows/CI.yml
  configs/husky/commit-msg
  configs/husky/pre-commit
  scripts/prepare
  scripts/spell
Due: cspell --no-must-find-files

fix removed commit
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  libs/design/DashboardCard/CollapsibleDashboardCard.stories.tsx
  libs/design/DashboardCard/CollapsibleDashboardCard.tsx
  libs/design/DashboardCard/DashboardCard.stories.tsx
  libs/design/DashboardCard/DashboardCard.tsx
  libs/design/DashboardCard/index.ts
  libs/design/DestructiveButton/DestructiveButton.tsx
Due: none

refactor member form
  .eslintrc.js
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberFormActions.tsx
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberFormHeader.tsx
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/memberFormNotifications.tsx
  app/messages.ts
  libs/debug/Debug.ts
  libs/design/DashboardCard/CollapsibleDashboardCard.tsx
Due: none

refactor householder name
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForm.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderFormActions.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/householderFormNotifications.tsx
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/memberFormNotifications.tsx
  app/messages.ts
Due: none

fix broken tests
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.ids.ts
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForm.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderFormActions.tsx
  app/Dashboard/Households/HouseholdDetail/householdNotifications.tsx
  app/Dashboard/_components/LogoutModal/LogoutConfirm.tsx
  app/Dashboard/_components/LogoutModal/LogoutModal.tsx
  app/messages.ts
  libs/design/Modal/ShowModal.tsx
  libs/design/theme/theme.ts
  libs/domain/Schema.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

add table parts
  libs/design/DataTable/index.ts
  libs/design/Table/Table.tsx
  libs/design/Table/TableBody.tsx
  libs/design/Table/TableCell.tsx
  libs/design/Table/TableHead.tsx
  libs/design/Table/TableHeader.tsx
  libs/design/Table/TablePagination.tsx
  libs/design/Table/TableRow.tsx
Due: none

allow internal props for table parts
  libs/design/Table/TableBody.tsx
  libs/design/Table/TableCell.tsx
  libs/design/Table/TableHead.tsx
  libs/design/Table/TableHeader.tsx
  libs/design/Table/TableRow.tsx
Due: none

add tablePagination props type
  libs/design/Table/TablePagination.tsx
Due: none

add pagination functionality to householdList
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/design/DataTable/DataTable.tsx
  libs/design/index.ts
Due: none

add householdCountQuery
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/queries/index.ts
  libs/data-layer/operations/queries/useHouseholdsCountQuery.ts
Due: none

add tablePagination text
  libs/design/Table/TablePagination.tsx
  libs/icons/index.ts
Due: none

extract tablePagination text to messages
  app/messages.ts
  libs/design/Table/TablePagination.tsx
Due: none

remove unused householdTable code
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  libs/design/DataTable/DataTable.tsx
Due: none

refactor table
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  libs/design/Table/TableBody.tsx
  libs/design/Table/TableCell.tsx
  libs/design/Table/TableHead.tsx
  libs/design/Table/TableHeader.tsx
  libs/design/Table/TableRow.tsx
Due: none

add parcel watcher for codegen:watch command
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix going to household table
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  libs/design/DataTable/DataTable.tsx
Due: none

add totalHousehold to the householdListQuery
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/mutations/useCompleteHousehold.ts
  libs/data-layer/operations/queries/index.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/data-layer/operations/queries/useHouseholdsCountQuery.ts
  libs/fixtures/ApiHouseholdListFixture.ts
Due: none

fix household query
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/mutations/useCompleteHousehold.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/fixtures/ApiHouseholdListFixture.ts
Due: none

fix secondary color in palette
  libs/design/Table/TablePagination.tsx
  libs/design/theme/palette.ts
Due: none

use previous household count to avoid pagination reset
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  libs/api-client/useQuery.ts
Due: none

update cached number of households on delete and create
  libs/data-layer/operations/mutations/useCreateHouseholdMutation.ts
  libs/data-layer/operations/mutations/useDeleteHouseholdMutation.ts
Due: none

refetch household on household delete
  libs/data-layer/operations/mutations/useDeleteHouseholdMutation.ts
Due: none

fix householdList story mock
  libs/fixtures/ApiHouseholdListFixture.ts
Due: none

[FS-199]: Fix Date Picker Layout (#126)
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  libs/design/DateInput/DateInput.tsx
Due: none

[FS-238]: Add File Upload Component (#127)
  .storybook/main.ts
  app/Dashboard/Households/HouseholdDetail/_components/MemberList/MemberList.tsx
  app/messages.ts
  libs/design/Breadcrumbs/Breadcrumbs.tsx
  libs/design/DashboardTitle/DashboardTitle.tsx
  libs/design/EmptyState/EmptyState.tsx
  libs/design/FileUpload/File.tsx
  libs/design/FileUpload/FileList.tsx
  libs/design/FileUpload/FileSelect.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.stories.tsx
  libs/design/FileUpload/FileUpload.tsx
  libs/design/FileUpload/index.ts
  libs/design/NavLink/NavLink.tsx
  libs/design/index.ts
  libs/design/theme/theme.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

[FS-220]: Add MemberCount Field In HouseholdDetail (#130)
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.ids.ts
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/messages.ts
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/household.fragments.ts
  libs/data-layer/operations/fragments/household.mapper.ts
  libs/design/Select/ControlledSelect.tsx
  libs/domain/ApiSchema.ts
  libs/domain/Household.ts
  libs/domain/Householder.ts
  libs/domain/Schema.ts
  libs/fixtures/HouseholdListFixture.ts
Due: none

[FS-199]: Imprvoe Member Form (#129)
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  libs/design/DashboardCard/CollapsibleDashboardCard.stories.tsx
  libs/design/DashboardCard/CollapsibleDashboardCard.tsx
  libs/design/DashboardCard/DashboardCard.stories.tsx
  libs/design/DashboardCard/DashboardCard.tsx
  libs/design/DashboardCard/index.ts
Due: none

[FS-236]: Add Pagination To The Household List Table (#128)
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  app/messages.ts
  libs/api-client/useQuery.ts
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/mutations/useCompleteHousehold.ts
  libs/data-layer/operations/mutations/useCreateHouseholdMutation.ts
  libs/data-layer/operations/mutations/useDeleteHouseholdMutation.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/design/DataTable/DataTable.tsx
  libs/design/DataTable/index.ts
  libs/design/Table/Table.tsx
  libs/design/Table/TableBody.tsx
  libs/design/Table/TableCell.tsx
  libs/design/Table/TableHead.tsx
  libs/design/Table/TableHeader.tsx
  libs/design/Table/TablePagination.tsx
  libs/design/Table/TableRow.tsx
  libs/design/index.ts
  libs/design/theme/palette.ts
  libs/fixtures/ApiHouseholdListFixture.ts
  libs/icons/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

sync schema and fix enum inconsistency
  app/messages.ts
  libs/domain/ApiSchema.ts
Due: none

upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

add isIdentityCompleted
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForm.tsx
  cypress.config.ts
  libs/data-layer/operations/fragments/householder.mapper.ts
  libs/data-layer/operations/fragments/mapper.utils.ts
  libs/domain/Householder.ts
Due: none

update api url
  .github/workflows/CI.yml
Due: cspell --no-must-find-files

fix environment variables
  .github/workflows/CI.yml
  cypress/e2e/login.cy.ts
Due: cspell --no-must-find-files

move env variables to github
  .github/workflows/CI.yml
Due: cspell --no-must-find-files

fix apollo config
  apollo.config.js
Due: none

[FS-255]: Cycle 34 Maintenance (#133)
  .github/workflows/CI.yml
  apollo.config.js
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForm.tsx
  app/messages.ts
  cypress.config.ts
  cypress/e2e/login.cy.ts
  libs/data-layer/operations/fragments/householder.mapper.ts
  libs/data-layer/operations/fragments/mapper.utils.ts
  libs/domain/ApiSchema.ts
  libs/domain/Householder.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.ts(x)?)
  eslint --fix: any of: *.ts(x)?
