Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.ts(x)?": ["eslint --fix", "cspell --no-must-find-files"]
}

fix severity badge color for nomral
  app/components/SeverityBadge/SeverityBadge.tsx
Due: none

try building in pre-push
  configs/husky/pre-push
Due: none

map family to client in Table story
  libs/design/Table/Table.stories.tsx
Due: none

fix familyList fixture
  .storybook/preview.tsx
  app/components/SeverityBadge/SeverityBadge.tsx
  app/fixtures/ApiFamilyList.ts
  app/fixtures/shortFamiliesInfo.ts
  libs/data-layer/operations/queries/FamilyListQuery/useFamilyListQuery.tsx
  libs/design/Table/Table.stories.tsx
Due: none

tweaks
  .graphqlrc.yml
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/CreateFamilyMutation.ts
  libs/data-layer/operations/mutations/CreateFamilyMutation/CreateFamily.mutation.graphql
  libs/data-layer/operations/mutations/CreateFamilyMutation/index.ts
  libs/data-layer/operations/mutations/CreateProjectMutation.ts
  libs/data-layer/operations/mutations/CreateProjectMutation/CreateProject.mutation.graphql
  libs/data-layer/operations/mutations/CreateProjectMutation/index.ts
  libs/data-layer/operations/mutations/toClientMutationFn.ts
  libs/data-layer/operations/mutations/useMutation.ts
  libs/data-layer/operations/queries/FamilyQuery/useFamilyQuery.tsx
  libs/domain/Family.ts
Due: cspell --no-must-find-files

add dto type separation
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useCreateFamilyMutation.ts
  libs/data-layer/operations/mutations/useCreateProjectMutation.ts
  libs/data-layer/operations/mutations/useLoginMutation.ts
  libs/data-layer/operations/mutations/useMutation.ts
  libs/data-layer/operations/queries/FamilyListQuery/FamilyList.graphql
  libs/data-layer/operations/queries/FamilyListQuery/index.ts
  libs/data-layer/operations/queries/FamilyListQuery/useFamilyListQuery.tsx
  libs/data-layer/operations/queries/FamilyQuery/Family.graphql
  libs/data-layer/operations/queries/FamilyQuery/index.ts
  libs/data-layer/operations/queries/ProjectListQuery/ProjectList.graphql
  libs/data-layer/operations/queries/ProjectListQuery/index.ts
  libs/data-layer/operations/queries/index.ts
  libs/data-layer/operations/queries/useFamilyListQuery.ts
  libs/data-layer/operations/queries/useFamilyQuery.ts
  libs/data-layer/operations/queries/useProjectListQuery.ts
  libs/domain/Project.ts
Due: none

add custom useQuery
  app/components/FamilyList/FamilyList.tsx
  app/components/FamilyList/FamilyTableRow.tsx
  app/components/InformationBadge/InformationBadge.tsx
  app/components/ProjectList/ProjectList.tsx
  app/components/SeverityBadge/SeverityBadge.tsx
  app/fixtures/ApiFamilyList.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/data-layer/operations/queries/useFamilyListQuery.ts
  libs/data-layer/operations/queries/useFamilyQuery.ts
  libs/data-layer/operations/queries/useProjectListQuery.ts
  libs/data-layer/operations/queries/useQuery.ts
  libs/design/theme/theme.ts
  libs/domain/Family.ts
Due: none

fix DetailCard stylings
  libs/design/DashboardCard/DashboardCard.tsx
  libs/design/DetailCard/DetailCard.tsx
Due: none

add tabs component
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/Tabs/Tabs.tsx
Due: none

make tab background transparent
  @types/mantine.d.ts
  libs/design/Tabs/Tabs.tsx
Due: none

add Tabs stories
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/Tabs/Tabs.stories.tsx
  libs/design/Tabs/index.ts
  libs/design/index.ts
Due: none

[FS-189]: Householder Identity Page Layout (#76)
  @types/mantine.d.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/DashboardCard/DashboardCard.tsx
  libs/design/DetailCard/DetailCard.tsx
  libs/design/Tabs/Tabs.stories.tsx
  libs/design/Tabs/Tabs.tsx
  libs/design/Tabs/index.ts
  libs/design/index.ts
Due: none

create text input component
  libs/design/TextInput/TextInput.tsx
  libs/design/TextInput/index.ts
Due: none

create number and select input component
  libs/design/NumberInput/NumberInput.tsx
  libs/design/NumberInput/index.ts
  libs/design/Select/SelectInput.tsx
  libs/design/Select/index.ts
  libs/design/index.ts
  libs/design/theme/theme.ts
Due: none

create householder identity form and add it to family detail page
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/components/HouseholderForm/index.ts
  app/components/index.ts
  app/messages.ts
Due: none

create date input component
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  configs/cspell/charity.txt
  libs/design/DataInput/DateInput.tsx
  libs/design/DataInput/index.ts
  libs/design/index.ts
  libs/icons/Date.svg
  libs/icons/index.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add date input story
  libs/design/DataInput/DateInput.stories.tsx
  libs/design/DataInput/DateInput.tsx
Due: none

add number and select input story
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
  libs/design/NumberInput/NumberInput.stories.tsx
  libs/design/Select/SelectInput.stories.tsx
Due: none

add householder form story
  app/components/HouseholderForm/HouseholderIdentityForm.stories.tsx
Due: none

add Text input story
  libs/design/DataInput/DateInput.stories.tsx
  libs/design/TextInput/TextInput.stories.tsx
Due: none

implement submit button and title
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  libs/icons/CheckMark.svg
  libs/icons/index.ts
Due: none

fix validation issue by deleting custom component
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
  libs/design/DataInput/DateInput.stories.tsx
  libs/design/DataInput/DateInput.tsx
  libs/design/DataInput/index.ts
  libs/design/NumberInput/NumberInput.stories.tsx
  libs/design/NumberInput/NumberInput.tsx
  libs/design/NumberInput/index.ts
  libs/design/Select/SelectInput.stories.tsx
  libs/design/Select/SelectInput.tsx
  libs/design/Select/index.ts
  libs/design/TextInput/TextInput.stories.tsx
  libs/design/TextInput/TextInput.tsx
  libs/design/TextInput/index.ts
  libs/design/index.ts
  libs/domain/HouseholderIdentity.ts
  libs/domain/index.ts
Due: none

add householder identity form to family detail page
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
Due: none

fix householder ssn regex
  app/messages.ts
  libs/domain/HouseholderIdentity.ts
Due: none

add householder form component test
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.ids.ts
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
Due: none

fix family list test
  apollo.config.js
  cypress.config.ts
  cypress/e2e/api.ts
  cypress/e2e/createFamily.cy.ts
  cypress/e2e/familyList.cy.ts
  cypress/fixtures/example.json
  cypress/tsconfig.json
  package-lock.json
  package.json
  tsconfig.eslint.json
Due: prettier --write, cspell --no-must-find-files

fix create project test
  cypress/e2e/api.ts
  cypress/e2e/projectList.cy.ts
Due: none

fix create family
  cypress/e2e/createFamily.cy.ts
Due: none

fix some naming issue
  .eslintrc.json
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/main.tsx
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/domain/HouseholderIdentity.ts
Due: prettier --write, cspell --no-must-find-files

[FS-159]: Add List Of Projects E2E Tests (#78)
  apollo.config.js
  cypress.config.ts
  cypress/e2e/api.ts
  cypress/e2e/createFamily.cy.ts
  cypress/e2e/familyList.cy.ts
  cypress/e2e/projectList.cy.ts
  cypress/fixtures/example.json
  cypress/tsconfig.json
  package-lock.json
  package.json
  tsconfig.eslint.json
Due: prettier --write, cspell --no-must-find-files

fix select inputs placeholder
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
Due: none

[FS-178]: Householder Identity Form (#77)
  .eslintrc.json
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.ids.ts
  app/components/HouseholderForm/HouseholderIdentityForm.stories.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/components/HouseholderForm/index.ts
  app/components/index.ts
  app/main.tsx
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  configs/cspell/charity.txt
  libs/design/theme/theme.ts
  libs/domain/HouseholderIdentity.ts
  libs/domain/index.ts
  libs/icons/CheckMark.svg
  libs/icons/Date.svg
  libs/icons/index.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix breadcrumb
  app/components/SeverityBadge/SeverityBadge.tsx
  libs/design/Breadcrumbs/Breadcrumbs.spec.ts
  libs/design/Breadcrumbs/Breadcrumbs.tsx
  libs/design/Header/DashboardHeader.tsx
Due: none

fix breadcrumb (#79)
  app/components/SeverityBadge/SeverityBadge.tsx
  libs/design/Breadcrumbs/Breadcrumbs.spec.ts
  libs/design/Breadcrumbs/Breadcrumbs.tsx
  libs/design/Header/DashboardHeader.tsx
Due: none

generate typescript operations and react apollo types
  .graphqlrc.yml
  libs/data-layer/api.ts
Due: cspell --no-must-find-files

[Hotfix]: Fix Graphql Codegen (#80)
  .graphqlrc.yml
  libs/data-layer/api.ts
Due: cspell --no-must-find-files

add license
  LICENSE
Due: none

update deps
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

npm audit
  package-lock.json
Due: prettier --write, cspell --no-must-find-files
