Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

upgrade storybook
  .storybook/main.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade cypress
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade graphql-codegen
  libs/data-layer/api.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade ui libraries
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

update react-hook-form
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix start date in project detail story
  app/pages/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  libs/debug/Debug.ts
Due: none

[FS-224]: Cycle 19 Maintenance (#109)
  .storybook/main.ts
  app/components/HouseholdActionButton/HouseholdActionButton.cy.tsx
  app/pages/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  cypress/e2e/draftHouseholder.cy.ts
  libs/data-layer/api.ts
  libs/debug/Debug.ts
  package-lock.json
  package.json
  tsconfig.vite.json
Due: prettier --write, cspell --no-must-find-files

rename families to households
  app/Routes.tsx
  app/components/CreateHousehold/CreateHouseholdButton/CreateHouseholdButton.tsx
  app/components/CreateHousehold/CreateHouseholdForm/CreateHouseholdForm.cy.tsx
  app/components/CreateHousehold/CreateHouseholdForm/CreateHouseholdForm.tsx
  app/components/CreateHousehold/CreateHouseholdModal/CreateHouseholdModal.tsx
  app/components/DeleteHouseholdModal/DeleteHouseholdModal.tsx
  app/components/HouseholdEmptyState/HouseholdEmptyState.tsx
  app/components/HouseholdList/HouseholdList.tsx
  app/components/HouseholdList/HouseholdTableRow.tsx
  app/components/InformationBadge/InformationBadge.tsx
  app/components/SeverityBadge/SeverityBadge.tsx
  app/messages.ts
  app/pages/Auth/Login/LoginForm.tsx
  app/pages/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/pages/Dashboard/Households/Households.stories.tsx
  app/pages/Dashboard/Households/Households.tsx
  cypress/e2e/createHousehold.cy.ts
  cypress/e2e/draftHouseholder.cy.ts
  cypress/e2e/householdList.cy.ts
  cypress/support/commands/createHousehold.command.ts
  libs/data-layer/operations/mutations/useCreateHouseholdMutation.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/design/Breadcrumbs/Breadcrumbs.stories.tsx
  libs/design/Header/DashboardHeader.stories.tsx
  libs/design/NavLink/NavLink.stories.tsx
  libs/design/Sidebar/Sidebar.ids.ts
  libs/design/Sidebar/Sidebar.tsx
  libs/design/Table/Table.stories.tsx
  libs/domain/Household.ts
  libs/router/AppRoutes.ts
Due: none

[FS-224]: Rename Families To Households (#111)
  app/Routes.tsx
  app/components/CreateHousehold/CreateHouseholdButton/CreateHouseholdButton.tsx
  app/components/CreateHousehold/CreateHouseholdForm/CreateHouseholdForm.cy.tsx
  app/components/CreateHousehold/CreateHouseholdForm/CreateHouseholdForm.tsx
  app/components/CreateHousehold/CreateHouseholdModal/CreateHouseholdModal.tsx
  app/components/DeleteHouseholdModal/DeleteHouseholdModal.tsx
  app/components/HouseholdEmptyState/HouseholdEmptyState.tsx
  app/components/HouseholdList/HouseholdList.tsx
  app/components/HouseholdList/HouseholdTableRow.tsx
  app/components/InformationBadge/InformationBadge.tsx
  app/components/SeverityBadge/SeverityBadge.tsx
  app/messages.ts
  app/pages/Auth/Login/LoginForm.tsx
  app/pages/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/pages/Dashboard/Households/Households.stories.tsx
  app/pages/Dashboard/Households/Households.tsx
  cypress/e2e/createHousehold.cy.ts
  cypress/e2e/draftHouseholder.cy.ts
  cypress/e2e/householdList.cy.ts
  cypress/support/commands/createHousehold.command.ts
  libs/data-layer/operations/mutations/useCreateHouseholdMutation.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/design/Breadcrumbs/Breadcrumbs.stories.tsx
  libs/design/Header/DashboardHeader.stories.tsx
  libs/design/NavLink/NavLink.stories.tsx
  libs/design/Sidebar/Sidebar.ids.ts
  libs/design/Sidebar/Sidebar.tsx
  libs/design/Table/Table.stories.tsx
  libs/domain/Household.ts
  libs/router/AppRoutes.ts
Due: none

[Hotfix]: Fix Broken Test
  cypress/e2e/draftHouseholder.cy.ts
Due: none

throw on tab change when value is nullish
  libs/design/Tabs/Tabs.tsx
Due: none

add hash mechanism for tabs
  libs/design/Tabs/Tabs.tsx
  libs/router/index.ts
  libs/router/useHash.tsx
Due: none

use isEmpty for checking empty array
  app/pages/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
Due: none

add the project integration
  app/messages.ts
  app/pages/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  libs/data-layer/api.ts
  libs/data-layer/mappers/index.ts
  libs/data-layer/mappers/toHousehold.ts
  libs/data-layer/mappers/toProject.ts
  libs/data-layer/operations/queries/index.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/data-layer/operations/queries/useHouseholdQuery.ts
  libs/data-layer/operations/queries/useProjectQuery.ts
  libs/design/Table/Table.stories.tsx
Due: none

[FS-226]: Connect Tabs To Url (#110)
  libs/design/Tabs/Tabs.tsx
  libs/router/index.ts
  libs/router/useHash.tsx
Due: none

[FS-207]: Project Detail Api Integration (#108)
  app/messages.ts
  app/pages/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  libs/data-layer/api.ts
  libs/data-layer/mappers/index.ts
  libs/data-layer/mappers/toHousehold.ts
  libs/data-layer/mappers/toProject.ts
  libs/data-layer/operations/queries/index.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/data-layer/operations/queries/useHouseholdQuery.ts
  libs/data-layer/operations/queries/useProjectQuery.ts
  libs/design/Table/Table.stories.tsx
Due: none

implement project action button
  app/components/ProjectActionButton/ProjectActionButton.cy.tsx
  app/components/ProjectActionButton/ProjectActionButton.stories.tsx
  app/components/ProjectActionButton/ProjectActionButton.tsx
  app/components/ProjectActionButton/index.ts
  app/components/ProjectList/ProjectTableRow.tsx
  libs/router/AppRoutes.ts
Due: none

[Hotfix]: Add Project ActionButton (#113)
  app/components/ProjectActionButton/ProjectActionButton.cy.tsx
  app/components/ProjectActionButton/ProjectActionButton.stories.tsx
  app/components/ProjectActionButton/ProjectActionButton.tsx
  app/components/ProjectActionButton/index.ts
  app/components/ProjectList/ProjectTableRow.tsx
  libs/router/AppRoutes.ts
Due: none

fix sidebar layout issue
  libs/design/Sidebar/Sidebar.tsx
Due: none

fix scroll issue
  app/pages/Dashboard/DashboardLayout.tsx
  libs/design/Sidebar/Sidebar.tsx
  libs/design/theme/theme.ts
Due: none

[FS-217]: Fix Issue With Exit Button And Scrolling (#103)
  app/pages/Dashboard/DashboardLayout.tsx
  libs/design/Sidebar/Sidebar.tsx
  libs/design/theme/theme.ts
Due: none

format ci
  .github/workflows/CI.yml
Due: cspell --no-must-find-files

remove wrong import
  .eslintrc.js
  app/pages/Dashboard/Projects/ProjectList/ProjectTableRow.tsx
Due: none

fix type errors
  app/components/HouseholderForm/HouseholderForm.tsx
  app/pages/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
Due: none

add delete household e2e tests
  app/pages/Dashboard/DashboardLayout.tsx
  app/pages/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/pages/Dashboard/Households/HouseholdList/HouseholdTableRow.ids.ts
  app/pages/Dashboard/Households/HouseholdList/HouseholdTableRow.tsx
  cypress/e2e/api.ts
  cypress/e2e/createHousehold.cy.ts
  cypress/e2e/createProject.cy.ts
  cypress/e2e/deleteHousehold.cy.ts
  cypress/e2e/draftHouseholder.cy.ts
  cypress/support/commands/createHousehold.command.ts
  cypress/support/commands/e2e.command.ts
  cypress/support/commands/findNotification.command.ts
  cypress/support/commands/index.d.ts
  cypress/support/commands/login.command.ts
  cypress/support/commands/mount.command.tsx
  cypress/support/commands/visit.command.ts
  cypress/support/commands/waitForReq.command.ts
  libs/data-layer/operations/mutations/useDeleteHouseholdMutation.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/design/Notification/showNotification.ts
Due: none

remove unnecessary import
  app/pages/Dashboard/DashboardLayout.tsx
Due: none

[FS-200]: Add E2E Tests for Delete Family (#114)
  app/pages/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/pages/Dashboard/Households/HouseholdList/HouseholdTableRow.ids.ts
  app/pages/Dashboard/Households/HouseholdList/HouseholdTableRow.tsx
  cypress/e2e/api.ts
  cypress/e2e/createHousehold.cy.ts
  cypress/e2e/createProject.cy.ts
  cypress/e2e/deleteHousehold.cy.ts
  cypress/e2e/draftHouseholder.cy.ts
  cypress/support/commands/createHousehold.command.ts
  cypress/support/commands/e2e.command.ts
  cypress/support/commands/findNotification.command.ts
  cypress/support/commands/index.d.ts
  cypress/support/commands/login.command.ts
  cypress/support/commands/mount.command.tsx
  cypress/support/commands/visit.command.ts
  cypress/support/commands/waitForReq.command.ts
  libs/data-layer/operations/mutations/useDeleteHouseholdMutation.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/design/Notification/showNotification.ts
Due: none

[Hotfix]: Fix Householder Test
  app/components/HouseholderDetail/HouseholderDetail.tsx
  app/components/HouseholderForm/HouseholderForm.cy.tsx
  app/components/HouseholderForm/HouseholderForm.tsx
  app/messages.ts
  app/pages/Dashboard/Households/CreateHousehold/CreateHouseholdForm/CreateHouseholdForm.tsx
  app/pages/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  cypress/fixtures/householder.ts
Due: none

update apollo
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

update safe deps
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

update storybook
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

update codegen
  libs/data-layer/ApiOperations.ts
  libs/domain/ApiSchema.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

update cypress
  app/components/HouseholderForm/HouseholderForm.tsx
  libs/design/Select/Select.tsx
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

update mantine
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add description to project list
  app/messages.ts
  app/pages/Dashboard/Projects/ProjectList/ProjectTableRow.tsx
  configs/cspell/charity.fa.txt
Due: none

update summery description
  app/messages.ts
  app/pages/Dashboard/Projects/ProjectList/ProjectTableRow.tsx
Due: none

create date summery
  libs/design/Date/DateSummery.tsx
  libs/design/Date/index.ts
Due: none

fix wrong types
  app/pages/Dashboard/Households/HouseholdList/HouseholdTableRow.tsx
  app/pages/Dashboard/Projects/ProjectBadge/ProjectBadge.tsx
Due: none

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.ts(x)?)
  eslint --fix: any of: *.ts(x)?
