Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.ts(x)?": ["eslint --fix", "cspell --no-must-find-files"]
}

add household identity test
  cypress/e2e/api.ts
  cypress/e2e/householdDetail.cy.ts
  cypress/fixtures/household.ts
  cypress/fixtures/project.ts
Due: none

[FS-124]: Add Household Detail E2e Test Cases (#134)
  cypress/e2e/api.ts
  cypress/e2e/householdDetail.cy.ts
  cypress/fixtures/household.ts
  cypress/fixtures/project.ts
Due: none

refactor
  docs/Glossary.md
  libs/design/FileUpload/FileSelect.tsx
  libs/icons/index.ts
  scripts/pr
Due: cspell --no-must-find-files

update fullstacksjs and config
  cypress/e2e/editHouseholdDetail.cy.ts
  libs/data-layer/operations/fragments/scalar.mapper.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/data-layer/operations/queries/useHouseholdQuery.ts
  libs/data-layer/operations/queries/useHouseholderQuery.ts
  libs/data-layer/operations/queries/useMemberListQuery.ts
  libs/data-layer/operations/queries/useProjectListQuery.ts
  libs/data-layer/operations/queries/useProjectQuery.ts
  libs/design/FileUpload/FileList.tsx
  libs/design/Select/ControlledSelect.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.vite.json
  vite.config.ts
Due: prettier --write, cspell --no-must-find-files

update fullstacksjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

improve linter
  configs/husky/pre-commit
  configs/husky/pre-push
  cypress/e2e/draftHouseholder.cy.ts
Due: none

revert pr script
  scripts/pr
Due: none

make cypress work with env
  .eslintrc.js
  cypress.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

upgrade config and eslint
  cypress.config.ts
  libs/debug/Debug.ts
  libs/design/theme/theme.ts
  libs/router/PathParams.ts
  libs/router/buildUrl.ts
  libs/zod-addons/index.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, cspell --no-must-find-files

fix zod side-effect
  app/main.tsx
  libs/domain/Household.ts
  libs/domain/Schema.ts
  libs/zod-addons/index.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

remove "config" from include
  tsconfig.vite.json
Due: prettier --write, cspell --no-must-find-files

[FS-280]: Cycle 39 Maintenance (#136)
  .eslintrc.js
  app/main.tsx
  configs/husky/pre-commit
  configs/husky/pre-push
  cypress.config.ts
  cypress/e2e/draftHouseholder.cy.ts
  cypress/e2e/editHouseholdDetail.cy.ts
  docs/Glossary.md
  libs/data-layer/operations/fragments/scalar.mapper.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/data-layer/operations/queries/useHouseholdQuery.ts
  libs/data-layer/operations/queries/useHouseholderQuery.ts
  libs/data-layer/operations/queries/useMemberListQuery.ts
  libs/data-layer/operations/queries/useProjectListQuery.ts
  libs/data-layer/operations/queries/useProjectQuery.ts
  libs/debug/Debug.ts
  libs/design/FileUpload/FileList.tsx
  libs/design/FileUpload/FileSelect.tsx
  libs/design/Select/ControlledSelect.tsx
  libs/design/theme/theme.ts
  libs/domain/Household.ts
  libs/domain/Schema.ts
  libs/icons/index.ts
  libs/router/PathParams.ts
  libs/router/buildUrl.ts
  libs/zod-addons/index.ts
  package.json
  pnpm-lock.yaml
  scripts/pr
  tsconfig.json
  vite.config.ts
Due: prettier --write, cspell --no-must-find-files

implement table skeleton
  libs/design/TableSkeleton/TableSkeleton.tsx
  libs/design/TableSkeleton/index.ts
Due: none

add loading state
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  libs/design/Table/Table.tsx
  libs/design/Table/TableCell.tsx
Due: none

refactor table skeleton
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  libs/design/TableSkeleton/TableSkeleton.tsx
Due: none

fix wrong character
  libs/design/TableSkeleton/TableSkeleton.tsx
Due: none

refactor table skeleton
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  libs/design/Table/Table.stories.tsx
  libs/design/Table/Table.tsx
  libs/design/Table/TableRow.tsx
  libs/design/Table/TableSkeleton.tsx
  libs/design/TableSkeleton/TableSkeleton.tsx
  libs/design/TableSkeleton/index.ts
Due: none

add onClick props
  libs/design/Table/TableRow.tsx
Due: none

change data table
  libs/design/DataTable/DataTable.tsx
  libs/design/Table/Table.stories.tsx
  libs/design/Table/Table.tsx
Due: none

[FS-235]: Table Loading State (#135)
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  libs/design/DataTable/DataTable.tsx
  libs/design/Table/Table.stories.tsx
  libs/design/Table/Table.tsx
  libs/design/Table/TableCell.tsx
  libs/design/Table/TableRow.tsx
  libs/design/Table/TableSkeleton.tsx
Due: none

add projectAlbum
  app/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  app/Dashboard/Projects/_components/ProjectAlbum/ProjectAlbum.tsx
  app/Dashboard/Projects/_components/ProjectAlbum/index.ts
Due: none

add projectDocuments header content
  app/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  app/Dashboard/Projects/_components/ProjectAlbum/ProjectAlbum.tsx
  app/Dashboard/Projects/_components/ProjectAlbum/index.ts
  app/Dashboard/Projects/_components/ProjectDocuments/ProjectDocuments.tsx
  app/Dashboard/Projects/_components/ProjectDocuments/index.ts
  app/messages.ts
Due: none

extract create project document button
  app/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/index.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/index.ts
  app/Dashboard/Projects/ProjectDetail/_components/ProjectDocuments/ProjectDocuments.tsx
  app/Dashboard/Projects/ProjectDetail/_components/ProjectDocuments/index.ts
  app/Dashboard/Projects/_components/ProjectDocuments/ProjectDocuments.tsx
  app/messages.ts
Due: none

add create project document modal
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.ids.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/index.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentModal/CreateProjectDocumentModal.ids.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentModal/CreateProjectDocumentModal.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentModal/index.ts
  app/Dashboard/Projects/ProjectDetail/_components/ProjectDocuments/ProjectDocuments.tsx
  app/messages.ts
Due: none

add date and description
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.ids.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  app/messages.ts
  libs/domain/Document.ts
  libs/domain/Schema.ts
  libs/domain/index.ts
Due: none

add validation
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentModal/CreateProjectDocumentModal.tsx
  app/messages.ts
  libs/design/FileUpload/File.tsx
  libs/design/FileUpload/FileList.tsx
  libs/design/FileUpload/FileSelect.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.tsx
  libs/domain/Document.ts
  libs/domain/Schema.ts
Due: none

add tests for createProjectDocumentButton
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.cy.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.ids.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.stories.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.tsx
Due: none

add story for CreateProjectDocumentModal
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentModal/CreateProjectDocumentModal.stories.tsx
Due: none

dead-code
  libs/design/FileUpload/FileUpload.tsx
Due: none

add description for file upload input
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  app/messages.ts
  libs/design/FileUpload/FileUpload.tsx
  libs/domain/Document.ts
Due: none

dead-code
  app/messages.ts
Due: none

dead-code
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
Due: none

add Prray for control over concurrency of file upload
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  configs/cspell/charity.en.txt
  libs/design/FileUpload/FileUpload.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

abstract controlledFileUpload
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  libs/design/FileUpload/ControlledFileUpload.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.tsx
  libs/design/FileUpload/index.ts
Due: none

fix file name being truncated
  libs/design/FileUpload/File.tsx
Due: none
