Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.ts(x)?": ["eslint --fix", "cspell --no-must-find-files"]
}

update useMutation import path
  libs/data-layer/operations/mutations/useDeleteFamilyMutation.ts
Due: none

change family term to household
  app/components/FamilyList/FamilyTableRow.tsx
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
Due: none

extract onDelete as a function
  app/components/FamilyList/FamilyTableRow.tsx
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
Due: none

improve delete family mutation
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/useDeleteFamilyMutation.ts
Due: none

change delete button text in family detail page
  app/messages.ts
Due: none

feat: add cspell persian dictionary
  .cspell.json
  app/messages.ts
  configs/cspell/charity.en.txt
  configs/cspell/charity.fa.txt
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: fix typo in messages.ts failedUpdate
  app/messages.ts
Due: none

fix: persian lorem ipsum into persian dictionary
  configs/cspell/charity.fa.txt
Due: none

[Chore]: Add CSpell Persian Dictionary (#91)
  .cspell.json
  app/messages.ts
  configs/cspell/charity.en.txt
  configs/cspell/charity.fa.txt
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

[FS-200]: Delete Family Api Integration (#92)
  app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
  app/components/FamilyList/FamilyTableRow.tsx
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useDeleteFamilyMutation.ts
Due: none

done
  .eslintrc.js
  @types/vite-env.d.ts
  app/components/HouseholderDetail/HouseholderDetail.tsx
  app/components/HouseholderForm/HouseholderForm.tsx
  app/main.tsx
  configs/vite/cypressAliases.ts
  cypress/e2e/familyDetail.cy.ts
  cypress/fixtures/householder.ts
  libs/auth/AuthGuard.tsx
  libs/auth/GuestGuard.tsx
  libs/config/config.ts
  libs/debug/Debug.spec.ts
  libs/debug/Debug.ts
  libs/debug/index.ts
  libs/design/Header/DashboardHeader.tsx
  libs/design/README.md
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

fallback scopes to an empty array
  libs/config/config.ts
Due: none

remove ts comments
  libs/config/config.ts
Due: none

fix lint errors
  app/components/CreateProject/CreateProjectForm/CreateProjectForm.tsx
  app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
  app/components/FamilyList/FamilyTableRow.tsx
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/data-layer/apollo/createApolloClient.ts
  libs/debug/Debug.spec.ts
  libs/debug/Debug.ts
  libs/domain/ServerErrors.ts
Due: none

fix lint errors
  app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
Due: none

fix spelling issue
  app/messages.ts
  configs/cspell/charity.en.txt
  scripts/spell
Due: none

add missing tests
  libs/debug/Debug.spec.ts
Due: none

add missing tests
  configs/husky/pre-push
Due: none

add verify script
  configs/husky/pre-push
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

improve spell script
  package.json
  scripts/spell
Due: prettier --write, cspell --no-must-find-files

fix test body
  libs/debug/Debug.spec.ts
Due: none

[FS-211]: Add Debug Module (#94)
  .eslintrc.js
  @types/vite-env.d.ts
  app/components/CreateProject/CreateProjectForm/CreateProjectForm.tsx
  app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
  app/components/FamilyList/FamilyTableRow.tsx
  app/components/HouseholderDetail/HouseholderDetail.tsx
  app/components/HouseholderForm/HouseholderForm.tsx
  app/main.tsx
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  configs/cspell/charity.en.txt
  configs/husky/pre-push
  configs/vite/cypressAliases.ts
  cypress/e2e/familyDetail.cy.ts
  cypress/fixtures/householder.ts
  libs/auth/AuthGuard.tsx
  libs/auth/GuestGuard.tsx
  libs/config/config.ts
  libs/data-layer/apollo/createApolloClient.ts
  libs/debug/Debug.spec.ts
  libs/debug/Debug.ts
  libs/debug/index.ts
  libs/design/Header/DashboardHeader.tsx
  libs/design/README.md
  libs/domain/ServerErrors.ts
  package-lock.json
  package.json
  scripts/spell
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

add unknown option mapping
  app/components/MemberForm/MemberForm.tsx
  app/main.tsx
  app/messages.ts
  configs/cspell/charity.fa.txt
  libs/data-layer/api.ts
  libs/data-layer/mappers/toCity.ts
  libs/data-layer/mappers/toGender.ts
  libs/data-layer/mappers/toHouseholder.ts
  libs/data-layer/mappers/toNationality.ts
  libs/data-layer/mappers/toReligion.ts
  libs/domain/City.ts
  libs/domain/Gender.ts
  libs/domain/Nationality.ts
  libs/domain/Religions.ts
  libs/domain/Schema.ts
  libs/zod-addons/index.ts
  libs/zod-addons/monkeyPatchZod.ts
  libs/zod-addons/toZodLiteralList.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

fix monkeyPatchZod import issue in testing zone
  cypress/fixtures/householder.ts
  cypress/support/component.tsx
  cypress/support/e2e.ts
Due: none

add name regex
  libs/domain/Schema.ts
Due: none

fix monkeyPatchZod import in storybook
  .storybook/preview.tsx
Due: none

[Doc]: Update README.md
  README.md
Due: cspell --no-must-find-files

fix name regex
  libs/domain/Schema.ts
Due: none

add name regex unit test
  libs/domain/name.spec.ts
Due: none

redirect to family page after the family created
  app/components/CreateFamily/CreateFamilyForm/CreateFamilyForm.tsx
Due: none

fix wrong names for fixtures
  cypress/e2e/createProject.cy.ts
  cypress/e2e/draftHouseholder.cy.ts
  cypress/e2e/familyList.cy.ts
  cypress/e2e/projectList.cy.ts
  cypress/fixtures/family.ts
  cypress/fixtures/project.ts
Due: none

fix routing issue
  app/components/CreateFamily/CreateFamilyForm/CreateFamilyForm.tsx
  app/main.tsx
  app/pages/Dashboard/DashboardLayout.tsx
Due: none

fix wrong import
  cypress/e2e/createFamily.cy.ts
Due: none

fix cypress routing issue
  cypress/support/commands/mount.command.tsx
Due: none

add proxy for cypress
  cypress.config.ts
Due: none

use our routing hook
  app/components/CreateFamily/CreateFamilyForm/CreateFamilyForm.tsx
Due: none

[FS-214]: Not Available Value For Dropdowns (#95)
  .storybook/preview.tsx
  app/components/MemberForm/MemberForm.tsx
  app/main.tsx
  app/messages.ts
  configs/cspell/charity.fa.txt
  cypress/fixtures/householder.ts
  cypress/support/component.tsx
  cypress/support/e2e.ts
  libs/data-layer/api.ts
  libs/data-layer/mappers/toCity.ts
  libs/data-layer/mappers/toGender.ts
  libs/data-layer/mappers/toHouseholder.ts
  libs/data-layer/mappers/toNationality.ts
  libs/data-layer/mappers/toReligion.ts
  libs/domain/City.ts
  libs/domain/Gender.ts
  libs/domain/Nationality.ts
  libs/domain/Religions.ts
  libs/domain/Schema.ts
  libs/zod-addons/index.ts
  libs/zod-addons/monkeyPatchZod.ts
  libs/zod-addons/toZodLiteralList.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

replace unicode mapping with literal text
  .cspell.json
  libs/domain/name.spec.ts
Due: prettier --write, cspell --no-must-find-files

re-add readonly prop for select
  libs/design/Select/Select.tsx
Due: none
