Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.ts(x)?": ["eslint --fix", "cspell --no-must-find-files"]
}

implement custom modal component
  libs/design/LogoutModal/LogoutModal.tsx
  libs/design/Modal/ShowModal.tsx
Due: none

add form validation
  app/components/MemberForm/MemberForm.ids.ts
  app/components/MemberForm/MemberForm.tsx
  app/messages.ts
  libs/design/Tabs/Tabs.tsx
  libs/domain/Member.ts
  libs/domain/index.ts
Due: none

add collapsing form
  app/components/MemberForm/MemberForm.tsx
  libs/design/DashboardCard/DashboardCard.tsx
  libs/icons/index.ts
Due: none

add MemberForm stories
  app/components/MemberForm/MemberForm.stories.tsx
Due: none

add isDefault to tabs
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/Tabs/Tabs.tsx
Due: none

add component tests
  app/components/MemberForm/MemberForm.cy.tsx
  app/components/MemberForm/MemberForm.tsx
Due: none

use showModal in openLogoutModal component
  libs/design/Modal/LogoutModal/LogoutConfirm.tsx
  libs/design/Modal/LogoutModal/LogoutModal.ids.ts
  libs/design/Modal/LogoutModal/LogoutModal.stories.tsx
  libs/design/Modal/LogoutModal/LogoutModal.tsx
  libs/design/Modal/LogoutModal/index.ts
  libs/design/NavLink/ExitNavLink.tsx
  libs/design/theme/theme.ts
Due: none

create delete family modal
  libs/design/Modal/DeleteFamilyModal/DeleteFamilyModal.ids.ts
  libs/design/Modal/DeleteFamilyModal/DeleteFamilyModal.tsx
  libs/design/Modal/DeleteFamilyModal/index.ts
  libs/design/Modal/ShowModal.tsx
  libs/design/Modal/index.ts
  libs/design/index.ts
Due: none

add delete option to menu and show modal
  app/components/FamilyList/FamilyTableRow.tsx
  app/messages.ts
  libs/design/ActionButton/ActionButton.tsx
Due: none

import as ids instead of local variable
  app/components/MemberForm/MemberForm.tsx
Due: none

add delete button to family detail page
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/DetailCard/DetailCard.tsx
  libs/icons/index.ts
Due: none

get forms by their ids
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/MemberForm/MemberForm.cy.tsx
Due: none

fix logout modal path issue
  cypress/e2e/logout.cy.ts
Due: none

move delete family modal and action button to app directory
  app/components/DeleteFamilyModal/DeleteFamilyModal.ids.ts
  app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
  app/components/DeleteFamilyModal/index.ts
  app/components/FamilyActionButton/FamilyActionButton.cy.tsx
  app/components/FamilyActionButton/FamilyActionButton.stories.tsx
  app/components/FamilyActionButton/FamilyActionButton.tsx
  app/components/FamilyActionButton/index.ts
  app/components/FamilyList/FamilyTableRow.tsx
  app/components/ProjectList/ProjectTableRow.tsx
  app/components/index.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/ActionButton/ActionButton.stories.tsx
  libs/design/ActionButton/index.ts
  libs/design/Modal/index.ts
  libs/design/index.ts
Due: none

fix getting householder identity form
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/components/MemberForm/MemberForm.tsx
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.ids.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  cypress/e2e/householderIdentity.cy.ts
  libs/design/Tabs/Tabs.stories.tsx
  libs/design/Tabs/Tabs.tsx
Due: none

redesign the Tabs API
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/Tabs/Tabs.stories.tsx
  libs/design/Tabs/Tabs.tsx
Due: none

Update app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
  app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
Due: none

Update libs/design/DetailCard/DetailCard.tsx
  libs/design/DetailCard/DetailCard.tsx
Due: none

remove the delete feature from the DetailCard component
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/DetailCard/DetailCard.tsx
Due: none

fix default tab
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/Tabs/Tabs.stories.tsx
Due: none

fix background color of tab
  libs/design/Tabs/Tabs.tsx
Due: none

[FS-195]: Delete Family Button Implementation (#88)
  app/components/DeleteFamilyModal/DeleteFamilyModal.ids.ts
  app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
  app/components/DeleteFamilyModal/index.ts
  app/components/FamilyActionButton/FamilyActionButton.cy.tsx
  app/components/FamilyActionButton/FamilyActionButton.stories.tsx
  app/components/FamilyActionButton/FamilyActionButton.tsx
  app/components/FamilyActionButton/index.ts
  app/components/FamilyList/FamilyTableRow.tsx
  app/components/ProjectList/ProjectTableRow.tsx
  app/components/index.ts
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  cypress/e2e/logout.cy.ts
  libs/design/ActionButton/ActionButton.stories.tsx
  libs/design/ActionButton/index.ts
  libs/design/DetailCard/DetailCard.tsx
  libs/design/Modal/LogoutModal/LogoutConfirm.tsx
  libs/design/Modal/LogoutModal/LogoutModal.ids.ts
  libs/design/Modal/LogoutModal/LogoutModal.stories.tsx
  libs/design/Modal/LogoutModal/LogoutModal.tsx
  libs/design/Modal/LogoutModal/index.ts
  libs/design/Modal/ShowModal.tsx
  libs/design/Modal/index.ts
  libs/design/NavLink/ExitNavLink.tsx
  libs/design/index.ts
  libs/design/theme/theme.ts
  libs/icons/index.ts
Due: none

[FS-183]: Create A Member Form (#87)
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/components/MemberForm/MemberForm.cy.tsx
  app/components/MemberForm/MemberForm.ids.ts
  app/components/MemberForm/MemberForm.stories.tsx
  app/components/MemberForm/MemberForm.tsx
  app/components/MemberForm/index.ts
  app/components/index.ts
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.ids.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  cypress/e2e/householderIdentity.cy.ts
  libs/design/DashboardCard/DashboardCard.tsx
  libs/design/DetailCard/DetailCard.tsx
  libs/design/Tabs/Tabs.stories.tsx
  libs/design/Tabs/Tabs.tsx
  libs/domain/Member.ts
  libs/domain/index.ts
  libs/icons/index.ts
Due: none

add favicon
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
Due: prettier --write, cspell --no-must-find-files

add graphiql page
  app/Routes.tsx
  app/pages/GraphiQL.tsx
  app/pages/index.ts
  configs/cspell/charity.txt
  libs/router/AppRoutes.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade to tsc@5
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade vite and cypress
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

make graphiql lazy
  app/Routes.tsx
  app/pages/GraphiQL.tsx
  cypress.config.ts
  libs/router/Route.ts
Due: none

upgrade vite and vitest
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade dev deps
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade to mantine@6
  app/main.tsx
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade rhf
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade auth0
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add app prefix to hasura env
  .github/workflows/CI.yml
  .graphqlrc.yml
  @types/vite-env.d.ts
  README.md
  apollo.config.js
  app/Routes.tsx
  app/pages/GraphiQL.tsx
  cypress.config.ts
  cypress/e2e/api.ts
  libs/config/config.ts
Due: cspell --no-must-find-files

add ts-reset
  @types/index.d.ts
  @types/vite-env.d.ts
  package.json
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

upgrade to storybook 7
  .storybook/apolloMocks.ts
  .storybook/fixtures/ApiFamilyList.ts
  .storybook/main.cjs
  .storybook/preview.tsx
  libs/design/Table/Table.stories.tsx
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

use env variable
  @types/vite-env.d.ts
  app/pages/GraphiQL.tsx
  libs/config/config.ts
  libs/data-layer/apollo/createApolloClient.ts
Due: none

fix e2e tests
  cypress/e2e/createFamily.cy.ts
  cypress/e2e/createProject.cy.ts
  cypress/support/commands/createFamily.command.ts
  libs/design/DetailCard/DetailCard.stories.tsx
  libs/design/Table/Table.stories.tsx
Due: none
