Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.ts(x)?": ["eslint --fix", "cspell --no-must-find-files"]
}

fix styling issue
  libs/design/FileUpload/File.tsx
Due: none

[FS-268]: Project Documents Add A New Document (#137)
  app/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.cy.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.ids.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.stories.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/CreateProjectDocumentButton.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentButton/index.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.ids.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/index.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentModal/CreateProjectDocumentModal.ids.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentModal/CreateProjectDocumentModal.stories.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentModal/CreateProjectDocumentModal.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentModal/index.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/index.ts
  app/Dashboard/Projects/ProjectDetail/_components/ProjectDocuments/ProjectDocuments.tsx
  app/Dashboard/Projects/ProjectDetail/_components/ProjectDocuments/index.ts
  app/messages.ts
  configs/cspell/charity.en.txt
  libs/design/FileUpload/ControlledFileUpload.tsx
  libs/design/FileUpload/File.tsx
  libs/design/FileUpload/FileList.tsx
  libs/design/FileUpload/FileSelect.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.tsx
  libs/design/FileUpload/index.ts
  libs/domain/Document.ts
  libs/domain/Schema.ts
  libs/domain/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

add api upload and unUpload
  @types/vite-env.d.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  libs/config/config.ts
  libs/design/FileUpload/ControlledFileUpload.tsx
  libs/design/FileUpload/File.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.stories.tsx
  libs/design/FileUpload/FileUpload.tsx
  libs/domain/Document.ts
  libs/file-storage-api/fileStorageApi.ts
  libs/file-storage-api/index.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

add file name in upload
  libs/file-storage-api/fileStorageApi.ts
Due: none

remove pseudo upload
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
Due: none

add envs
  .github/workflows/CI.yml
  cypress.config.ts
Due: cspell --no-must-find-files

remove comment
  libs/design/FileUpload/ControlledFileUpload.tsx
Due: none

[FS-281]: Project Document Api Integration (#138)
  .github/workflows/CI.yml
  @types/vite-env.d.ts
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  cypress.config.ts
  libs/config/config.ts
  libs/design/FileUpload/ControlledFileUpload.tsx
  libs/design/FileUpload/File.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.stories.tsx
  libs/design/FileUpload/FileUpload.tsx
  libs/domain/Document.ts
  libs/file-storage-api/fileStorageApi.ts
  libs/file-storage-api/index.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

rename to document
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  libs/data-layer/operations/mutations/useDocumentMutation.ts
  libs/design/FileUpload/ControlledFileUpload.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.tsx
  libs/domain/Document.ts
  libs/domain/Schema.ts
  libs/file-storage-api/fileStorageApi.ts
Due: none

add visits tab
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.ids.ts
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/index.ts
  app/messages.ts
Due: none

add add visits button
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitButton/AddHouseholderVisitButton.cy.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitButton/AddHouseholderVisitButton.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitButton/AddHouseholderVisitButton.stories.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitButton/AddHouseholderVisitButton.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitButton/index.ts
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/AddHouseholderVisitForm.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/AddHouseholderVisitForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/index.ts
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitModal/AddHouseholderVisitModal.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitModal/AddHouseholderVisitModal.stories.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitModal/AddHouseholderVisitModal.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitModal/index.ts
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/index.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
  app/messages.ts
Due: none

add name to visit
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/AddHouseholderVisitForm.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/AddHouseholderVisitForm.tsx
  app/messages.ts
  libs/domain/Document.ts
Due: none

make date required
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/AddHouseholderVisitForm.tsx
  libs/domain/Document.ts
Due: none

add CreateVisit Mutation
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/index.ts
  libs/data-layer/operations/fragments/visit.fragment.ts
  libs/data-layer/operations/fragments/visit.mapper.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useCreateVisitMutation.ts
  libs/domain/ApiSchema.ts
  libs/domain/Visit.ts
  libs/domain/index.ts
Due: none

use the add visit
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitButton/AddHouseholderVisitButton.cy.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitButton/AddHouseholderVisitButton.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/AddHouseholderVisitForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitModal/AddHouseholderVisitModal.stories.tsx
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitModal/AddHouseholderVisitModal.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/document.mapper.ts
  libs/data-layer/operations/fragments/visit.fragment.ts
  libs/data-layer/operations/fragments/visit.mapper.ts
  libs/data-layer/operations/mutations/useCreateVisitMutation.ts
  libs/domain/ApiSchema.ts
  libs/domain/Visit.ts
Due: none

add visitsTable
  app/Dashboard/Households/HouseholdDetail/_components/DeleteVisitModal/DeleteVisitModal.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/DeleteVisitModal/DeleteVisitModal.tsx
  app/Dashboard/Households/HouseholdDetail/_components/DeleteVisitModal/index.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitActionButton/VisitActionButton.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitActionButton/VisitActionButton.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitActionButton/index.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitsTable.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitsTableRow.ids.ts
  app/messages.ts
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/queries/index.ts
  libs/data-layer/operations/queries/useHouseholderVisitsQuery.ts
  libs/design/DateSummery/DateSummery.tsx
  libs/design/ImagePreview/ImagePreview.tsx
  libs/design/ImagePreview/index.ts
  libs/design/index.ts
  libs/design/theme/palette.ts
  libs/domain/ApiSchema.ts
  libs/domain/Visit.ts
Due: none

add delete visit mutation
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/AddHouseholderVisitForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitActionButton/VisitActionButton.tsx
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/document.mapper.ts
  libs/data-layer/operations/fragments/visit.fragment.ts
  libs/data-layer/operations/fragments/visit.mapper.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useCreateVisitMutation.ts
  libs/data-layer/operations/mutations/useDeleteVisitMutation.ts
  libs/data-layer/operations/mutations/useDocumentMutation.ts
  libs/design/FileUpload/ControlledFileUpload.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.tsx
  libs/design/FileUpload/index.ts
  libs/domain/ApiSchema.ts
  libs/domain/Document.ts
  libs/file-storage-api/fileStorageApi.ts
Due: none

add visit detail modal
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetailModal.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetailModal.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/index.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitsTable.tsx
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/visit.fragment.ts
  libs/data-layer/operations/mutations/useCreateVisitMutation.ts
  libs/domain/ApiSchema.ts
  libs/icons/index.ts
Due: none

add visit detail
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetailDocumentItem.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetailHeader.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetailModal.tsx
  app/messages.ts
  configs/cspell/charity.en.txt
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/document.fragment.ts
  libs/data-layer/operations/fragments/document.mapper.ts
  libs/data-layer/operations/fragments/index.ts
  libs/data-layer/operations/fragments/visit.fragment.ts
  libs/data-layer/operations/fragments/visit.mapper.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useCreateVisitMutation.ts
  libs/data-layer/operations/mutations/useDeleteDocumentMutation.ts
  libs/data-layer/operations/mutations/useDeleteVisitMutation.ts
  libs/data-layer/operations/queries/index.ts
  libs/data-layer/operations/queries/useVisitDetailQuery.ts
  libs/design/FileUpload/ControlledFileUpload.tsx
  libs/design/theme/palette.ts
  libs/domain/Document.ts
  libs/domain/Visit.ts
  libs/icons/index.ts
  libs/router/getFileName.ts
  libs/router/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

remove void
  libs/design/FileUpload/FileUpload.tsx
  pnpm-lock.yaml
Due: cspell --no-must-find-files

move file state to domain
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/AddHouseholderVisitForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitsTable.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  libs/data-layer/operations/mutations/useCreateVisitMutation.ts
  libs/data-layer/operations/mutations/useDeleteVisitMutation.ts
  libs/design/FileUpload/ControlledFileUpload.tsx
  libs/design/FileUpload/File.tsx
  libs/design/FileUpload/FileList.tsx
  libs/design/FileUpload/FileUpload.stories.tsx
  libs/design/FileUpload/FileUpload.tsx
  libs/design/FileUpload/index.ts
  libs/domain/FileState.ts
  libs/domain/index.ts
  libs/file-storage-api/fileStorageClient.ts
  libs/file-storage-api/index.ts
Due: none

change file-storage-api to file-storage-client
  .eslintrc.js
  app/Dashboard/Households/HouseholdDetail/_components/AddHouseholderVisit/AddHouseholderVisitForm/AddHouseholderVisitForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetailDocumentItem.tsx
  app/Dashboard/Projects/ProjectDetail/_components/CreateProjectDocument/CreateProjectDocumentForm/CreateProjectDocumentForm.tsx
  libs/data-layer/operations/mutations/useDeleteVisitMutation.ts
  libs/design/FileUpload/FileUpload.tsx
  libs/file-storage-client/fileStorageClient.ts
  libs/file-storage-client/index.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

fix long file name rendering
  libs/design/FileUpload/ControlledFileUpload.tsx
  libs/design/FileUpload/File.tsx
Due: none

make action column display column
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
Due: none

change table order
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
Due: none

improve name label
  app/messages.ts
Due: none

add column size
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
  libs/design/DataTable/DataTable.tsx
  libs/design/Table/TableHead.tsx
  libs/design/Table/TableRow.tsx
Due: none

update mantine
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix image preview size
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetail.tsx
Due: none

fix file download
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetail.tsx
  libs/file-storage-client/fileStorageClient.ts
Due: none

fix pdf file
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetailDocumentItem.tsx
  libs/icons/PdfFileIcon.tsx
  libs/icons/index.ts
  libs/router/getFileType.ts
  libs/router/index.ts
Due: none

fix video
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/HouseholderVisits.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetailDocumentItem.tsx
  configs/cspell/charity.en.txt
  libs/design/ImagePreview/ImagePreview.tsx
  libs/domain/Document.ts
  libs/icons/index.ts
  libs/router/getFileType.ts
Due: none

extract components
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/DocumentGrid.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/ImagePreview.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderVisits/VisitDetail/VisitDetail.tsx
Due: none

add contact form
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderDetail/HouseholderDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForm.stories.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderFormActions.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForms.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderContactForm/HouseholderContactForm.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderContactForm/HouseholderContactForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderContactForm/index.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderIdentityForm/HouseholderIdentityForm.cy.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderIdentityForm/HouseholderIdentityForm.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderIdentityForm/HouseholderIdentityForm.stories.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderIdentityForm/HouseholderIdentityForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderIdentityForm/index.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/index.ts
  app/messages.ts
  libs/domain/AccommodationType.ts
  libs/domain/ApiSchema.ts
  libs/domain/HouseholderContact.ts
  libs/domain/HouseholderIdentitySchema.ts
  libs/domain/Province.ts
  libs/domain/Schema.ts
  libs/domain/index.ts
Due: none

sdd contact
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForms.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderContactForm/HouseholderContactForm.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderContactForm/HouseholderContactForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderIdentityForm/HouseholderIdentityForm.cy.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderIdentityForm/HouseholderIdentityForm.ids.ts
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderIdentityForm/HouseholderIdentityForm.tsx
  app/messages.ts
  configs/cspell/charity.en.txt
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/householder.fragments.ts
  libs/data-layer/operations/fragments/householder.mapper.ts
  libs/data-layer/operations/mutations/useUpsertHouseholderMutation.ts
  libs/data-layer/operations/queries/useHouseholderQuery.ts
  libs/design/Select/Select.tsx
  libs/design/TextInput/useReadonlyInputStyles.ts
  libs/design/Textarea/Textarea.tsx
  libs/design/Textarea/index.ts
  libs/design/index.ts
  libs/domain/AccommodationType.ts
  libs/domain/HouseholderContact.ts
  libs/domain/HouseholderIdentitySchema.ts
  libs/domain/Province.ts
  libs/domain/Schema.ts
  libs/domain/index.ts
  libs/fixtures/ApiHouseholderFixture.ts
Due: none

extract everything in householderFragment
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForms.tsx
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/householder.fragments.ts
  libs/data-layer/operations/fragments/householder.mapper.ts
  libs/data-layer/operations/mutations/useUpsertHouseholderMutation.ts
  libs/data-layer/operations/queries/useHouseholderQuery.ts
  libs/domain/Householder.ts
  libs/domain/index.ts
Due: none

add domain householderHealth
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/_components/HouseholderContactForm/HouseholderContactForm.tsx
  libs/data-layer/operations/fragments/householder.mapper.ts
  libs/data-layer/operations/mutations/useUpsertHouseholderMutation.ts
  libs/domain/AddictionStatus.ts
  libs/domain/DisabilityStatus.ts
  libs/domain/HealthStatus.ts
  libs/domain/Householder.ts
Due: none

add getHouseholderHealth
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/householder.fragments.ts
  libs/data-layer/operations/fragments/householder.mapper.ts
  libs/data-layer/operations/mutations/useUpsertHouseholderMutation.ts
  libs/data-layer/operations/queries/useHouseholderQuery.ts
  libs/domain/Householder.ts
Due: none
