Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.ts(x)?": ["eslint --fix", "cspell --no-must-find-files"]
}

fix EditableTextInput styling issues
  libs/design/EditableInput/EditableTextInput.tsx
Due: none

rename EditableInput to TextInput
  app/components/HouseholderForm/HouseholderForm.tsx
  libs/design/EditableInput/index.ts
  libs/design/Input/TextInput.tsx
  libs/design/Input/index.ts
  libs/design/index.ts
Due: none

add select reaOnly style
  app/components/HouseholderDetail/HouseholderDetail.tsx
  app/components/HouseholderDetail/index.ts
  app/components/HouseholderForm/HouseholderForm.tsx
  app/components/index.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/Select/ControlledSelect.tsx
  libs/design/Select/Select.tsx
Due: none

abstract readonly styles
  app/components/HouseholderForm/HouseholderForm.tsx
  libs/design/Input/DateInput.tsx
  libs/design/Input/TextInput.tsx
  libs/design/Input/index.ts
  libs/design/Input/useReadonlyInputStyles.ts
  libs/design/Select/Select.tsx
Due: none

fix select styling
  libs/design/Select/Select.tsx
Due: none

fix input hidden placeholder bug
  app/components/HouseholderForm/HouseholderForm.tsx
  libs/design/Input/TextInput.tsx
Due: none

fix householderFixture to generate persian names
  cypress/fixtures/householder.ts
Due: none

fix householderFixture mock
  cypress/fixtures/householder.ts
Due: none

fix householderForm component tests
  app/components/HouseholderForm/HouseholderForm.cy.tsx
  libs/domain/Householder.ts
  libs/domain/Schema.ts
Due: none

remove issued at field
  app/components/HouseholderDetail/HouseholderDetail.tsx
  app/components/HouseholderForm/HouseholderForm.stories.tsx
  app/components/HouseholderForm/HouseholderForm.tsx
  libs/data-layer/mappers/toHouseholder.ts
  libs/data-layer/operations/queries/useHouseholderQuery.ts
  libs/domain/Householder.ts
  package-lock.json
Due: prettier --write, cspell --no-must-find-files

refactor schema
  app/components/HouseholderForm/HouseholderForm.cy.tsx
  app/components/MemberForm/MemberForm.cy.tsx
  app/main.tsx
  app/messages.ts
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/useUpsertHouseholderMutation.ts
  libs/data-layer/operations/queries/useQuery.ts
  libs/domain/Householder.ts
  libs/domain/Member.ts
  libs/domain/Schema.ts
  libs/monkeyPatchZod.ts
Due: none

refactor class names
  libs/design/Input/DateInput.tsx
  libs/design/Input/TextInput.tsx
  libs/design/Select/Select.tsx
Due: none

fix component test issues
  app/components/HouseholderForm/HouseholderForm.cy.tsx
  cypress/support/component.tsx
  libs/domain/Schema.ts
  package.json
Due: prettier --write, cspell --no-must-find-files

fix e2e tests
  cypress.config.ts
  cypress/e2e/draftHouseholder.cy.ts
  cypress/fixtures/householder.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

refactor api client
  app/components/HouseholderForm/HouseholderForm.tsx
  libs/data-layer/apiClient/index.ts
  libs/data-layer/apiClient/types.ts
  libs/data-layer/apiClient/useMutation.ts
  libs/data-layer/apiClient/useQuery.ts
  libs/data-layer/mappers/index.ts
  libs/data-layer/mappers/toCity.ts
  libs/data-layer/mappers/toDate.ts
  libs/data-layer/mappers/toGender.ts
  libs/data-layer/mappers/toHouseholderStatus.ts
  libs/data-layer/mappers/toNationality.ts
  libs/data-layer/mappers/toReligion.ts
  libs/data-layer/operations/mutations/useCreateFamilyMutation.ts
  libs/data-layer/operations/mutations/useCreateProjectMutation.ts
  libs/data-layer/operations/mutations/useMutation.ts
  libs/data-layer/operations/mutations/useUpsertHouseholderMutation.ts
  libs/data-layer/operations/queries/useFamilyListQuery.ts
  libs/data-layer/operations/queries/useFamilyQuery.ts
  libs/data-layer/operations/queries/useHouseholderQuery.ts
  libs/data-layer/operations/queries/useProjectListQuery.ts
Due: none

add missing stories
  libs/design/DashboardCard/DashboardCard.tsx
  libs/design/DateInput/DateInput.stories.tsx
  libs/design/DateInput/DateInput.tsx
  libs/design/DateInput/index.ts
  libs/design/DetailCard/DetailCard.tsx
  libs/design/Input/TextInput.stories.tsx
  libs/design/Input/index.ts
  libs/design/Select/Select.stories.tsx
  libs/design/Select/index.ts
  libs/design/index.ts
Due: none

implement ControlledDateInput
  app/components/HouseholderForm/HouseholderForm.tsx
  app/components/MemberForm/MemberForm.tsx
  app/components/Text/NationalityText.tsx
  libs/design/DateInput/ControlledDateInput.tsx
  libs/design/DateInput/DateInput.tsx
  libs/design/DateInput/index.ts
Due: none

update storybook
  .storybook/main.ts
  libs/design/DateInput/DateInput.tsx
  libs/design/Select/Select.stories.tsx
  libs/design/Select/Select.tsx
  libs/design/TextInput/TextInput.stories.tsx
  libs/design/TextInput/TextInput.tsx
  libs/design/TextInput/index.ts
  libs/design/TextInput/useReadonlyInputStyles.ts
  libs/design/index.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix storybook build issue
  .gitignore
  .storybook/preview.tsx
Due: none

add logo to readme
  README.md
  assets/architecture.png
  assets/logo.png
Due: cspell --no-must-find-files

upgrade mantine
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade graphql
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

upgrade patches
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add missing script to readme
  README.md
  package.json
Due: prettier --write, cspell --no-must-find-files

fix grammar errors
  README.md
Due: cspell --no-must-find-files

add docs
  README.md
  assets/automated.png
  docs/Glossary.md
  docs/NonFunctionRequirements.md
  docs/TestingStrategy.md
Due: cspell --no-must-find-files

fix test script issue
  .github/workflows/CI.yml
  package.json
Due: prettier --write, cspell --no-must-find-files

[FS-202]: Cycle 14 Maintenance (#93)
  .github/workflows/CI.yml
  README.md
  assets/architecture.png
  assets/automated.png
  assets/logo.png
  docs/Glossary.md
  docs/NonFunctionRequirements.md
  docs/TestingStrategy.md
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix modal stories and preview build
  .eslintrc.js
  .storybook/preview-head.html
  app/components/CreateFamily/CreateFamilyModal/CreateFamilyModal.stories.tsx
  app/components/CreateProject/CreateProjectModal/CreateProjectModal.stories.tsx
  libs/config/config.ts
  libs/design/Modal/LogoutModal/LogoutModal.stories.tsx
  libs/design/Notification/Notification.stories.tsx
Due: prettier --write, cspell --no-must-find-files

[Hotfix]: Fix Build Errors
  .eslintrc.js
  .storybook/preview-head.html
  @types/vite-env.d.ts
  README.md
  app/components/CreateFamily/CreateFamilyModal/CreateFamilyModal.stories.tsx
  app/components/CreateProject/CreateProjectModal/CreateProjectModal.stories.tsx
  assets/architecture.png
  libs/config/config.ts
  libs/design/Modal/LogoutModal/LogoutModal.stories.tsx
  libs/design/Notification/Notification.stories.tsx
Due: prettier --write, cspell --no-must-find-files

implement delete family mutation
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useDeleteFamilyMutation.ts
Due: none

integrate delete family mutation with delete family modal
  app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
  app/components/FamilyList/FamilyTableRow.tsx
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
Due: none

add name fields to delete family mutation
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/useDeleteFamilyMutation.ts
Due: none

add delete family mutation to family detail
  app/components/FamilyList/FamilyTableRow.tsx
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
Due: none

fix delete family modal naming issue
  app/components/DeleteFamilyModal/DeleteFamilyModal.tsx
Due: none
