Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

remove yup and unused packages
  .gitignore
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.tsx
  app/components/CreateProject/ProjectForm/CreateProjectForm.tsx
  app/pages/Auth/Login/Login.tsx
  app/pages/Auth/Login/LoginForm.tsx
  libs/auth/AuthProvider.tsx
  libs/config/config.ts
  libs/cookies/cookies.ts
  libs/data-layer/apollo/ApolloProvider.tsx
  libs/design/NavLink/ExitNavLink.tsx
  libs/domain/Path.ts
  libs/domain/Url.ts
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, cspell --no-must-find-files

update cypress
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

use chrome as cypress browser
  .github/workflows/CI.yml
  package.json
Due: prettier --write, cspell --no-must-find-files

refactor schemas
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.tsx
  app/components/CreateProject/ProjectForm/CreateProjectForm.tsx
  app/messages.ts
  app/pages/Auth/Login/LoginForm.tsx
  libs/config/config.ts
  libs/domain/Family.ts
  libs/domain/Path.ts
  libs/domain/Project.ts
  libs/domain/Url.ts
  libs/domain/User.ts
  libs/domain/createResolver.ts
  libs/domain/index.ts
Due: none

fix readme
  libs/domain/README.md
Due: cspell --no-must-find-files

extract table
  app/components/FamilyList/FamilyList.ids.ts
  app/components/FamilyList/FamilyList.tsx
  app/components/FamilyList/FamilyTable/FamilyTable.cy.tsx
  app/components/FamilyList/FamilyTable/FamilyTable.stories.tsx
  app/components/FamilyList/FamilyTable/FamilyTable.tsx
  app/components/FamilyList/FamilyTable/index.ts
  app/components/FamilyList/FamilyTableRow.ids.ts
  app/components/FamilyList/FamilyTableRow.tsx
  app/components/FamilyList/InformationStatus.ts
  app/components/FamilyList/SeverityStatus.ts
  app/components/FamilyList/index.ts
  app/components/FamilyList/toShortFamilyInfoTableRows.ts
  app/components/ProjectList/ProjectList.cy.tsx
  app/components/ProjectList/ProjectList.ids.ts
  app/components/ProjectList/ProjectList.tsx
  app/components/ProjectList/ProjectTable/ProjectTable.stories.tsx
  app/components/ProjectList/ProjectTable/ProjectTable.tsx
  app/components/ProjectList/ProjectTable/index.ts
  app/components/ProjectList/ProjectTableRow.ids.ts
  app/components/ProjectList/ProjectTableRow.tsx
  app/components/ProjectList/index.ts
  app/fixtures/FakeShortFamiliesInfo.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/Table/Table.stories.tsx
  libs/design/Table/Table.tsx
  libs/design/Table/index.ts
  libs/design/index.ts
Due: none

add projectList mock
  .storybook/preview.tsx
  app/fixtures/shortFamiliesInfo.ts
  libs/design/Table/Table.stories.tsx
Due: none

move validation messages to its own scope
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.cy.tsx
  app/components/CreateProject/ProjectForm/CreateProjectModal.cy.tsx
  app/messages.ts
  app/pages/Auth/Login/LoginForm.cy.tsx
  libs/domain/Family.ts
  libs/domain/Project.ts
  libs/router/AppRoutes.ts
Due: none

[FS-180]: List Of Projects API Integration (#70)
  .storybook/preview.tsx
  app/components/CreateProject/ProjectForm/CreateProjectForm.tsx
  app/components/FamilyList/FamilyList.ids.ts
  app/components/FamilyList/FamilyList.tsx
  app/components/FamilyList/FamilyTable/FamilyTable.cy.tsx
  app/components/FamilyList/FamilyTable/FamilyTable.stories.tsx
  app/components/FamilyList/FamilyTable/FamilyTable.tsx
  app/components/FamilyList/FamilyTable/index.ts
  app/components/FamilyList/FamilyTableRow.ids.ts
  app/components/FamilyList/FamilyTableRow.tsx
  app/components/FamilyList/InformationStatus.ts
  app/components/FamilyList/SeverityStatus.ts
  app/components/FamilyList/index.ts
  app/components/FamilyList/toShortFamilyInfoTableRows.ts
  app/components/ProjectList/ProjectList.cy.tsx
  app/components/ProjectList/ProjectList.ids.ts
  app/components/ProjectList/ProjectList.tsx
  app/components/ProjectList/ProjectTable/ProjectTable.stories.tsx
  app/components/ProjectList/ProjectTable/ProjectTable.tsx
  app/components/ProjectList/ProjectTable/index.ts
  app/components/ProjectList/ProjectTableRow.ids.ts
  app/components/ProjectList/ProjectTableRow.tsx
  app/components/ProjectList/index.ts
  app/fixtures/shortFamiliesInfo.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  configs/husky/commit-msg
  cypress.config.ts
  cypress/e2e/projectList.cy.ts
  cypress/fixtures/family.ts
  libs/data-layer/index.ts
  libs/data-layer/operations/__generated__/typesAndHooks.ts
  libs/data-layer/operations/queries/ProjectList.graphql
  libs/design/Table/Table.stories.tsx
  libs/design/Table/Table.tsx
  libs/design/Table/index.ts
  libs/design/index.ts
Due: none

add scoped validation
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.cy.tsx
  app/components/CreateProject/ProjectForm/CreateProjectModal.cy.tsx
  app/messages.ts
Due: none

rename Message to Msg
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.cy.tsx
  app/components/CreateProject/ProjectForm/CreateProjectModal.cy.tsx
  app/pages/Auth/Login/LoginForm.cy.tsx
Due: none

fix minLength in validation schema
  libs/domain/Family.ts
  libs/domain/Project.ts
Due: none

[FS-185]: Third Party Maintenance (#73)
  .github/workflows/CI.yml
  .gitignore
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.cy.tsx
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.tsx
  app/components/CreateProject/ProjectForm/CreateProjectForm.tsx
  app/components/CreateProject/ProjectForm/CreateProjectModal.cy.tsx
  app/messages.ts
  app/pages/Auth/Login/Login.tsx
  app/pages/Auth/Login/LoginForm.cy.tsx
  app/pages/Auth/Login/LoginForm.tsx
  libs/auth/AuthProvider.tsx
  libs/config/config.ts
  libs/cookies/cookies.ts
  libs/data-layer/apollo/ApolloProvider.tsx
  libs/design/NavLink/ExitNavLink.tsx
  libs/domain/Family.ts
  libs/domain/Path.ts
  libs/domain/Project.ts
  libs/domain/README.md
  libs/domain/Url.ts
  libs/domain/User.ts
  libs/domain/createResolver.ts
  libs/domain/index.ts
  libs/router/AppRoutes.ts
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, cspell --no-must-find-files

add vitest-dom
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add vitest setup
  configs/vitest/setup.ts
  vite.config.ts
Due: none

improve tsconfig
  .gitignore
  cypress/tsconfig.json
  libs/data-layer/apollo/ApolloProvider.tsx
  tsconfig.eslint.json
Due: prettier --write, cspell --no-must-find-files

remove route.d.ts
  @types/route.d.ts
  libs/design/ActionButton/ActionButton.cy.tsx
  libs/design/ActionButton/ActionButton.tsx
  libs/design/Breadcrumbs/Breadcrumbs.tsx
  libs/design/Guards/AuthGuard.tsx
  libs/design/Guards/GuestGuard.tsx
  libs/design/NavLink/NavLink.tsx
  libs/router/Navigate.tsx
  libs/router/Route.ts
Due: none

upgrade eslint
  .eslintrc.json
  .gitignore
  cypress/e2e/authorization.cy.ts
  cypress/e2e/familyList.cy.ts
  cypress/e2e/login.cy.ts
  cypress/e2e/projectList.cy.ts
  cypress/support/commands/createFamily.command.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

remove cypress processors
  configs/vite/cypress-vite.ts
  configs/vite/cypress-webpack.ts
  configs/vite/cypressAliases.ts
  cypress.config.ts
Due: none

upgrade deps
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

increase timeout
  cypress.config.ts
  cypress/e2e/login.cy.ts
Due: none

remove port
  .github/workflows/CI.yml
Due: cspell --no-must-find-files

fix component test
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.cy.tsx
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.tsx
  app/components/CreateProject/ProjectForm/CreateProjectForm.tsx
  app/components/CreateProject/ProjectForm/CreateProjectModal.cy.tsx
  libs/design/theme/theme.ts
Due: none

fix e2e tests
  cypress/e2e/createFamily.cy.ts
  cypress/e2e/createProject.cy.ts
  cypress/support/commands/createFamily.command.ts
Due: none

fix concurrency
  .github/workflows/CI.yml
Due: cspell --no-must-find-files

rename graphql generated types
  .graphqlrc.yml
  libs/data-layer/index.ts
  libs/data-layer/operations/__generated__/api.ts
Due: cspell --no-must-find-files

make CreateFamilyCustom custom
  .graphqlrc.yml
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.tsx
  configs/graphql-codegen/namingConvetion.js
  libs/data-layer/index.ts
  libs/data-layer/operations/__generated__/api.ts
  libs/data-layer/operations/index.ts
  libs/data-layer/operations/mutations/CreateFamilyMutation/CreateFamily.mutation.graphql
  libs/data-layer/operations/mutations/CreateFamilyMutation/CreateFamilyMutation.tsx
  libs/data-layer/operations/mutations/CreateFamilyMutation/index.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/toClientMutationFn.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

make CreateProjectMutation custom
  libs/data-layer/operations/mutations/CreateProjectMutation/CreateProject.mutation.graphql
  libs/data-layer/operations/mutations/CreateProjectMutation/CreateProjectMutation.ts
  libs/data-layer/operations/mutations/CreateProjectMutation/index.ts
  libs/data-layer/operations/mutations/index.ts
Due: none

make useFamilyQuery custom
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/data-layer/operations/index.ts
  libs/data-layer/operations/queries/FamilyQuery/Family.graphql
  libs/data-layer/operations/queries/FamilyQuery/FamilyQuery.ts
  libs/data-layer/operations/queries/FamilyQuery/index.ts
  libs/data-layer/operations/queries/index.ts
Due: none

rename Family hook file
  libs/data-layer/operations/queries/FamilyQuery/index.ts
  libs/data-layer/operations/queries/FamilyQuery/useFamilyQuery.tsx
Due: none

fix useFamilyQuery
  .graphqlrc.yml
  app/components/FamilyList/FamilyList.tsx
  app/components/FamilyList/FamilyTable/index.ts
  app/components/FamilyList/InformationStatus.ts
  app/components/FamilyList/toShortFamilyInfoTableRows.ts
  libs/data-layer/operations/api.ts
  libs/data-layer/operations/mutations/CreateFamilyMutation/CreateFamilyMutation.tsx
  libs/data-layer/operations/mutations/CreateProjectMutation/CreateProjectMutation.ts
  libs/data-layer/operations/queries/FamilyQuery/FamilyQuery.ts
Due: cspell --no-must-find-files

make family mapping proper
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.tsx
  app/components/CreateProject/ProjectForm/CreateProjectForm.tsx
  app/components/FamilyList/FamilyList.tsx
  app/components/FamilyList/FamilyTable/index.ts
  app/components/FamilyList/FamilyTableRow.tsx
  app/components/FamilyList/SeverityStatus.ts
  app/components/FamilyList/index.ts
  app/components/FamilyList/toShortFamilyInfoTableRows.ts
  app/components/InformationBadge/InformationBadge.tsx
  app/components/InformationBadge/index.ts
  app/components/ProjectList/ProjectList.tsx
  app/components/SeverityBadge/SeverityBadge.tsx
  app/components/SeverityBadge/index.ts
  app/components/index.ts
  app/fixtures/shortFamiliesInfo.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/data-layer/operations/api.ts
  libs/data-layer/operations/mutations/CreateFamilyMutation/CreateFamilyMutation.tsx
  libs/data-layer/operations/mutations/CreateProjectMutation/CreateProjectMutation.ts
  libs/data-layer/operations/queries/FamilyListQuery/FamilyList.graphql
  libs/data-layer/operations/queries/FamilyListQuery/index.ts
  libs/data-layer/operations/queries/FamilyListQuery/useFamilyListQuery.tsx
  libs/data-layer/operations/queries/FamilyQuery/FamilyQuery.ts
  libs/data-layer/operations/queries/FamilyQuery/useFamilyQuery.tsx
  libs/data-layer/operations/queries/ProjectListQuery/ProjectList.graphql
  libs/data-layer/operations/queries/ProjectListQuery/index.ts
  libs/data-layer/operations/queries/ProjectListQuery/useProjectListQuery.tsx
  libs/data-layer/operations/queries/index.ts
  libs/design/DetailCard/DetailCard.stories.tsx
  libs/design/DetailCard/DetailCardBadgeField.tsx
  libs/design/Table/Table.stories.tsx
Due: none

remove duplicated ProjectList query
  libs/data-layer/operations/queries/ProjectList.graphql
Due: none

fix storybook api mock imports
  .storybook/preview.tsx
Due: none

move api outside of operations
  .graphqlrc.yml
  apollo.config.js
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/CreateFamilyMutation/CreateFamilyMutation.tsx
  libs/data-layer/operations/mutations/CreateProjectMutation/CreateProjectMutation.ts
  libs/data-layer/operations/queries/FamilyListQuery/useFamilyListQuery.tsx
  libs/data-layer/operations/queries/FamilyQuery/useFamilyQuery.tsx
  libs/data-layer/operations/queries/ProjectListQuery/useProjectListQuery.tsx
Due: cspell --no-must-find-files

import apollo correctly
  libs/data-layer/operations/mutations/CreateFamilyMutation/CreateFamilyMutation.tsx
  libs/data-layer/operations/mutations/CreateProjectMutation/CreateProjectMutation.ts
  libs/data-layer/operations/queries/FamilyListQuery/useFamilyListQuery.tsx
  libs/data-layer/operations/queries/FamilyQuery/useFamilyQuery.tsx
  libs/data-layer/operations/queries/ProjectListQuery/useProjectListQuery.tsx
Due: none

fix using familyDoc instead of familyListDoc
  libs/data-layer/operations/queries/FamilyListQuery/useFamilyListQuery.tsx
Due: none

remove BadgeStatusMap
  libs/design/Badge/BadgeStatusMap.ts
Due: none

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.ts(x)?)
  eslint --fix: any of: *.ts(x)?
