Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

fix action bar eslint error
  libs/design/ActionButton/ActionButton.cy.tsx
Due: none

fix lint issues
  app/components/HouseholderForm/HouseholderIdentityForm.stories.tsx
Due: none

fix ci issue
  .github/workflows/CI.yml
Due: cspell --no-must-find-files

[FS-197]: Cycle 9 Third-Party Maintenance (#81)
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .github/workflows/CI.yml
  LICENSE
  app/components/HouseholderForm/HouseholderIdentityForm.stories.tsx
  libs/design/ActionButton/ActionButton.cy.tsx
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

migrate to feather icon
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  libs/icons/index.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

delete icons
  libs/icons/CheckMark.svg
  libs/icons/ChevronLeft.svg
  libs/icons/Dashboard.svg
  libs/icons/Date.svg
  libs/icons/ErrorAlert.svg
  libs/icons/Exit.svg
  libs/icons/Home.svg
  libs/icons/Menu.svg
  libs/icons/Package.svg
  libs/icons/People.svg
  libs/icons/Plus.svg
  libs/icons/index.ts
Due: none

fix size
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
Due: none

fix MenuIcon
  libs/icons/index.ts
Due: none

[FS-196]: Migrate To Feather Icon (#82)
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  libs/icons/CheckMark.svg
  libs/icons/ChevronLeft.svg
  libs/icons/Dashboard.svg
  libs/icons/Date.svg
  libs/icons/ErrorAlert.svg
  libs/icons/Exit.svg
  libs/icons/Home.svg
  libs/icons/Menu.svg
  libs/icons/Package.svg
  libs/icons/People.svg
  libs/icons/Plus.svg
  libs/icons/index.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

remove ssn input
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.ids.ts
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
  libs/domain/HouseholderIdentity.ts
Due: none

sync create family button with design
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.tsx
Due: none

move select inputs values to domain
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
  libs/domain/HouseholderIdentity.ts
Due: none

refactor select values
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
  libs/domain/Country.ts
  libs/domain/HouseholderIdentity.ts
  libs/domain/index.ts
Due: none

[Hotfix]: Sync implementation With Design (#83)
  app/components/CreateFamily/FamilyForm/CreateFamilyForm.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.ids.ts
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
  libs/domain/Country.ts
  libs/domain/HouseholderIdentity.ts
  libs/domain/index.ts
Due: none

improve readme
  README.md
  assets/architecture.png
  configs/cspell/charity.txt
Due: cspell --no-must-find-files

add description
  README.md
Due: cspell --no-must-find-files

[Chore]: Update README (#85)
  README.md
  assets/architecture.png
  configs/cspell/charity.txt
Due: cspell --no-must-find-files

fix name conflict
  cypress/e2e/api.ts
Due: none

add upsert householder mutation
  configs/cspell/charity.txt
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
  libs/domain/HouseholderIdentity.ts
Due: none

integrate householder form with api
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.ids.ts
  app/components/HouseholderForm/HouseholderIdentityForm.stories.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
Due: none

add other fields to householder
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
  libs/domain/Gender.ts
  libs/domain/HouseholderIdentity.ts
  libs/domain/index.ts
Due: none

add custom variable mapping for mutations
  app/components/CreateProject/ProjectForm/CreateProjectForm.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.stories.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  libs/data-layer/operations/mutations/useCreateFamilyMutation.ts
  libs/data-layer/operations/mutations/useCreateProjectMutation.ts
  libs/data-layer/operations/mutations/useMutation.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
Due: none

fix variable mapping
  libs/data-layer/operations/mutations/useCreateFamilyMutation.ts
  libs/data-layer/operations/mutations/useCreateProjectMutation.ts
  libs/data-layer/operations/mutations/useMutation.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
Due: none

fix gender validation
  libs/domain/HouseholderIdentity.ts
Due: none

make all types optional except for first name
  libs/domain/HouseholderIdentity.ts
Due: none

fix form control for select fields
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
  libs/domain/Country.ts
  libs/domain/Gender.ts
  libs/domain/HouseholderIdentity.ts
  libs/domain/Religions.ts
  libs/domain/index.ts
Due: none

add e2e tests for householder identity
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  configs/cspell/charity.txt
  cypress/e2e/householderIdentity.cy.ts
  cypress/fixtures/householder.ts
  libs/domain/HouseholderIdentity.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

remove console.log
  cypress/e2e/householderIdentity.cy.ts
Due: none

fix surname typo
  configs/cspell/charity.txt
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
Due: none

rename currentFamilyId to familyId
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.stories.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
Due: none

rename firstName to name
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  cypress/e2e/householderIdentity.cy.ts
  cypress/fixtures/householder.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
  libs/domain/HouseholderIdentity.ts
Due: none

fix Householder model
  app/messages.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
  libs/domain/HouseholderIdentity.ts
Due: none

rename lastName to surname
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  cypress/e2e/householderIdentity.cy.ts
  cypress/fixtures/householder.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
  libs/domain/HouseholderIdentity.ts
Due: none

fix duplicate names
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
Due: none

add issuedAt field
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
  libs/domain/HouseholderIdentity.ts
Due: none

[FS-179]: Householder Identity Api Integration (#84)
  app/components/CreateProject/ProjectForm/CreateProjectForm.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.cy.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.ids.ts
  app/components/HouseholderForm/HouseholderIdentityForm.stories.tsx
  app/components/HouseholderForm/HouseholderIdentityForm.tsx
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  configs/cspell/charity.txt
  cypress/e2e/api.ts
  cypress/e2e/householderIdentity.cy.ts
  cypress/fixtures/householder.ts
  libs/data-layer/api.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useCreateFamilyMutation.ts
  libs/data-layer/operations/mutations/useCreateProjectMutation.ts
  libs/data-layer/operations/mutations/useMutation.ts
  libs/data-layer/operations/mutations/useUpsertHouseholder.ts
  libs/domain/Country.ts
  libs/domain/Gender.ts
  libs/domain/HouseholderIdentity.ts
  libs/domain/Religions.ts
  libs/domain/index.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add e2e pick script
  README.md
  package.json
  scripts/e2e-pick
Due: prettier --write, cspell --no-must-find-files

fix spell error
  configs/cspell/charity.txt
  scripts/e2e-pick
Due: none

Add E2E Pick Script (#86)
  README.md
  configs/cspell/charity.txt
  package.json
  scripts/e2e-pick
Due: prettier --write, cspell --no-must-find-files

add title and card
  app/components/MemberForm/MemberForm.tsx
  app/components/MemberForm/index.ts
  app/components/index.ts
  app/messages.ts
  app/pages/Dashboard/Families/FamilyDetail/FamilyDetail.tsx
  libs/design/DashboardCard/DashboardCard.tsx
  libs/design/DetailCard/DetailCard.tsx
Due: none

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.ts(x)?)
  eslint --fix: any of: *.ts(x)?
