Repository fullstacksjs/the-charity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.ts(x)?": ["eslint --fix", "cspell --no-must-find-files"]
}

[Hotfix]: Fix Missing Test Ids
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.ids.ts
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  app/Dashboard/Projects/ProjectList/ProjectTableRow.tsx
  app/Dashboard/Projects/_components/ProjectStatusBadge/ProjectStatusBadge.stories.tsx
  app/Dashboard/Projects/_components/ProjectStatusBadge/ProjectStatusBadge.tsx
  app/Dashboard/Projects/_components/ProjectStatusBadge/index.ts
  libs/design/DetailCard/DetailCardTextField.tsx
Due: none

fix infinite render
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  app/Dashboard/Households/HouseholdList/HouseholdTableRow.tsx
  app/Dashboard/Projects/ProjectList/ProjectList.tsx
  libs/api-client/useQuery.ts
  libs/data-layer/operations/mutations/useCreateHouseholdMutation.ts
  libs/data-layer/operations/mutations/useDeleteHouseholdMutation.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/design/Table/Table.stories.tsx
  libs/design/Table/Table.tsx
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

remove comment
  libs/data-layer/operations/mutations/useCreateHouseholdMutation.ts
Due: none

fix conflict
  app/Dashboard/Projects/ProjectList/ProjectList.tsx
Due: none

fix storybook issue
  libs/fixtures/ApiHouseholdListFixture.ts
  libs/fixtures/ApiProjectListFixture.ts
Due: none

add start and due date
  libs/fixtures/ApiProjectListFixture.ts
Due: none

[FS-225]: Add Sort Feature To Household List (#124)
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  app/Dashboard/Households/HouseholdList/HouseholdTable.tsx
  app/Dashboard/Households/HouseholdList/HouseholdTableColumn.tsx
  app/Dashboard/Households/HouseholdList/HouseholdTableRow.tsx
  app/Dashboard/Households/_components/HouseholdActionButton/HouseholdActionButton.cy.tsx
  app/Dashboard/Households/_components/HouseholdActionButton/HouseholdActionButton.ids.ts
  app/Dashboard/Households/_components/HouseholdActionButton/HouseholdActionButton.tsx
  app/Dashboard/Households/_components/HouseholdActionButton/index.ts
  app/Dashboard/Projects/ProjectList/ProjectList.tsx
  app/Dashboard/Projects/ProjectList/ProjectTableColumn.tsx
  app/Dashboard/Projects/ProjectList/ProjectTableRow.tsx
  app/messages.ts
  configs/cspell/charity.en.txt
  cypress/e2e/deleteHousehold.cy.ts
  libs/api-client/useQuery.ts
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/project.mapper.ts
  libs/data-layer/operations/mutations/useCreateHouseholdMutation.ts
  libs/data-layer/operations/mutations/useDeleteHouseholdMutation.ts
  libs/data-layer/operations/queries/useHouseholdListQuery.ts
  libs/design/DateSummery/DateSummery.tsx
  libs/design/Table/Table.stories.tsx
  libs/design/Table/Table.tsx
  libs/domain/Household.ts
  libs/domain/Project.ts
  libs/fixtures/ApiHouseholdListFixture.ts
  libs/fixtures/ApiProjectListFixture.ts
  libs/fixtures/HouseholdListFixture.ts
  libs/fixtures/index.ts
  libs/icons/index.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

[CI]: Move CYPRESS_RECORD_KEY to vars
  .github/workflows/CI.yml
Due: cspell --no-must-find-files

[FS-208]: Add Information To Project List (#115)
  app/components/SeverityBadge/SeverityBadge.stories.tsx
  app/messages.ts
  app/pages/Dashboard/Households/HouseholdList/HouseholdTableRow.tsx
  app/pages/Dashboard/Projects/ProjectBadge/ProjectBadge.tsx
  app/pages/Dashboard/Projects/ProjectBadge/index.ts
  app/pages/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  app/pages/Dashboard/Projects/ProjectList/ProjectTableRow.tsx
  app/pages/Dashboard/Projects/ProjectStatusBadge/ProjectStatusBadge.stories.tsx
  app/pages/Dashboard/Projects/ProjectStatusBadge/ProjectStatusBadge.tsx
  app/pages/Dashboard/Projects/ProjectStatusBadge/index.ts
  configs/cspell/charity.fa.txt
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/project.fragment.ts
  libs/data-layer/operations/fragments/project.mapper.ts
  libs/data-layer/operations/mutations/useCreateProjectMutation.ts
  libs/design/Date/DateSummery.stories.tsx
  libs/design/Date/DateSummery.tsx
  libs/design/Date/index.ts
  libs/design/index.ts
  libs/domain/Project.ts
Due: none

[FS-199]: Implement Member Status (#121)
  app/components/InformationBadge/InformationBadge.stories.tsx
  app/components/InformationBadge/InformationBadge.tsx
  app/components/MemberForm/MemberForm.tsx
  app/pages/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/pages/Dashboard/Households/HouseholdList/HouseholdTableRow.tsx
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/member.mapper.ts
  libs/domain/ApiSchema.ts
  libs/fixtures/ApiMemberListFixture.ts
Due: none

[FS-232]: CreateProject UX Improvement (#118)
  app/components/MemberForm/MemberForm.cy.tsx
  app/components/MemberForm/MemberForm.tsx
  app/pages/Dashboard/Households/CreateHousehold/CreateHouseholdButton/CreateHouseholdButton.cy.tsx
  app/pages/Dashboard/Households/CreateHousehold/CreateHouseholdModal/CreateHouseholdModal.cy.tsx
  app/pages/Dashboard/Projects/CreateProject/CreateProjectForm/CreateProjectForm.tsx
  libs/design/Date/DateSummery.stories.tsx
Due: none

[FS-219]: Delete A Member (#125)
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/MemberList/MemberList.tsx
  app/messages.ts
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/index.ts
  libs/data-layer/operations/fragments/member.fragments.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useDeleteHouseholdMutation.ts
  libs/data-layer/operations/mutations/useDeleteMemberMutation.ts
  libs/data-layer/operations/mutations/useUpsertMemberMutation.ts
  libs/data-layer/operations/queries/useMemberListQuery.ts
Due: none

[FS-220]: Update A Household General Information (#122)
  app/components/HouseholderForm/HouseholderForm.tsx
  app/components/SeverityBadge/SeverityBadge.tsx
  app/components/index.ts
  app/messages.ts
  app/pages/Dashboard/Households/HouseholdDetail/HouseholdDetail.ids.ts
  app/pages/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/pages/Dashboard/Projects/ProjectDetail/ProjectDetail.tsx
  libs/api-client/useQuery.ts
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/mutations/index.ts
  libs/data-layer/operations/mutations/useEditHouseholdMutation.ts
  libs/design/DetailCard/DetailCard.tsx
  libs/design/Select/ControlledSelect.tsx
  libs/design/TextInput/TextInput.tsx
  libs/design/TextInput/useReadonlyInputStyles.ts
  libs/domain/Household.ts
Due: none

[FS-234]: Fix Family Creation Message (#120)
  app/messages.ts
Due: none

fix collapse issue when member is completed
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
Due: none

change datePiker position
  libs/design/DateInput/DateInput.tsx
Due: none

[FS-199]: Fix Date Picker Layout (#126)
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  libs/design/DateInput/DateInput.tsx
Due: none

add FileUpload
  .storybook/main.ts
  README.md
  app/Dashboard/Households/HouseholdDetail/_components/MemberList/MemberList.tsx
  libs/design/Breadcrumbs/Breadcrumbs.tsx
  libs/design/DashboardTitle/DashboardTitle.tsx
  libs/design/EmptyState/EmptyState.tsx
  libs/design/FileUpload/File.tsx
  libs/design/FileUpload/FileList.tsx
  libs/design/FileUpload/FileSelect.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.stories.tsx
  libs/design/FileUpload/FileUpload.tsx
  libs/design/FileUpload/index.ts
  libs/design/NavLink/NavLink.tsx
  libs/design/index.ts
  libs/design/theme/theme.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

refactor member form
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  libs/design/DashboardCard/CollapsibleDashboardCard.stories.tsx
  libs/design/DashboardCard/CollapsibleDashboardCard.tsx
  libs/design/DashboardCard/DashboardCard.stories.tsx
  libs/design/DashboardCard/DashboardCard.tsx
  libs/design/DashboardCard/index.ts
Due: none

[FS-199]: Imprvoe Member Form (#129)
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  libs/design/DashboardCard/CollapsibleDashboardCard.stories.tsx
  libs/design/DashboardCard/CollapsibleDashboardCard.tsx
  libs/design/DashboardCard/DashboardCard.stories.tsx
  libs/design/DashboardCard/DashboardCard.tsx
  libs/design/DashboardCard/index.ts
Due: none

add literal text to messages
  app/messages.ts
  libs/design/FileUpload/FileSelect.tsx
Due: none

add membersCount to the household type
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/household.fragments.ts
  libs/data-layer/operations/fragments/household.mapper.ts
  libs/domain/ApiSchema.ts
  libs/domain/Household.ts
  libs/fixtures/HouseholdListFixture.ts
Due: none

make presentation typing of Controlled inputs more precise
  libs/design/Select/ControlledSelect.tsx
Due: none

add membersCount to householdDetail
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.ids.ts
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/messages.ts
  libs/domain/Householder.ts
  libs/domain/Schema.ts
Due: none

[FS-238]: Add File Upload Component (#127)
  .storybook/main.ts
  README.md
  app/Dashboard/Households/HouseholdDetail/_components/MemberList/MemberList.tsx
  app/messages.ts
  libs/design/Breadcrumbs/Breadcrumbs.tsx
  libs/design/DashboardTitle/DashboardTitle.tsx
  libs/design/EmptyState/EmptyState.tsx
  libs/design/FileUpload/File.tsx
  libs/design/FileUpload/FileList.tsx
  libs/design/FileUpload/FileSelect.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.stories.tsx
  libs/design/FileUpload/FileUpload.tsx
  libs/design/FileUpload/index.ts
  libs/design/NavLink/NavLink.tsx
  libs/design/index.ts
  libs/design/theme/theme.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

[FS-238]: Add File Upload Component (#127)
  .storybook/main.ts
  app/Dashboard/Households/HouseholdDetail/_components/MemberList/MemberList.tsx
  app/messages.ts
  libs/design/Breadcrumbs/Breadcrumbs.tsx
  libs/design/DashboardTitle/DashboardTitle.tsx
  libs/design/EmptyState/EmptyState.tsx
  libs/design/FileUpload/File.tsx
  libs/design/FileUpload/FileList.tsx
  libs/design/FileUpload/FileSelect.tsx
  libs/design/FileUpload/FileState.ts
  libs/design/FileUpload/FileUpload.stories.tsx
  libs/design/FileUpload/FileUpload.tsx
  libs/design/FileUpload/index.ts
  libs/design/NavLink/NavLink.tsx
  libs/design/index.ts
  libs/design/theme/theme.ts
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

[FS-220]: Add MemberCount Field In HouseholdDetail (#130)
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.ids.ts
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/messages.ts
  libs/data-layer/ApiOperations.ts
  libs/data-layer/operations/fragments/household.fragments.ts
  libs/data-layer/operations/fragments/household.mapper.ts
  libs/design/Select/ControlledSelect.tsx
  libs/domain/ApiSchema.ts
  libs/domain/Household.ts
  libs/domain/Householder.ts
  libs/domain/Schema.ts
  libs/fixtures/HouseholdListFixture.ts
Due: none

update deps
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

migrate to pnpm
  .cspell.json
  .github/workflows/CI.yml
  README.md
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForm.cy.tsx
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.cy.tsx
  configs/husky/commit-msg
  configs/husky/pre-commit
  configs/husky/pre-push
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/e2e-pick
  scripts/prepare
  scripts/spell
Due: prettier --write, cspell --no-must-find-files

fix household form validation
  libs/design/Badge/Badge.stories.tsx
Due: none

fix household form validation
  app/Dashboard/Households/_components/CreateHousehold/CreateHouseholdForm/CreateHouseholdForm.tsx
Due: none

upgrade storybook
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

rename createTestAttribute to tid
  app/Dashboard/Households/HouseholdDetail/HouseholdDetail.tsx
  app/Dashboard/Households/HouseholdDetail/_components/HouseholderForm/HouseholderForm.tsx
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/CreateMemberButton/CreateMemberButton.tsx
  app/Dashboard/Households/HouseholdDetail/_components/MemberForm/MemberForm.tsx
  app/Dashboard/Households/HouseholdList/HouseholdList.tsx
  app/Dashboard/Households/_components/CreateHousehold/CreateHouseholdButton/CreateHouseholdButton.tsx
  app/Dashboard/Households/_components/CreateHousehold/CreateHouseholdForm/CreateHouseholdForm.tsx
  app/Dashboard/Households/_components/CreateHousehold/CreateHouseholdModal/CreateHouseholdModal.tsx
  app/Dashboard/Households/_components/HouseholdActionButton/HouseholdActionButton.tsx
  app/Dashboard/Projects/CreateProject/CreateProjectButton/CreateProjectButton.tsx
  app/Dashboard/Projects/CreateProject/CreateProjectForm/CreateProjectForm.tsx
  app/Dashboard/Projects/CreateProject/CreateProjectModal/CreateProjectModal.tsx
  app/Dashboard/Projects/ProjectActionButton/ProjectActionButton.tsx
  app/Dashboard/Projects/ProjectList/ProjectList.tsx
  libs/design/DashboardHeader/DashboardHeader.tsx
  libs/design/Modal/ShowModal.tsx
  libs/design/NavLink/NavLink.tsx
  libs/design/Table/Table.tsx
  libs/design/Tabs/Tabs.tsx
  libs/design/TextInput/useReadonlyInputStyles.ts
  libs/design/theme/palette.ts
  libs/test/createTestAttr.ts
Due: none
